{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>


        <div class="container" id="suppo">


            <div class="row testin">

                <div class="center">
                    <img src="{% static 'assets/supp/tit.png' %}" class="title" alt="">
                </div>

                <div class="col s12 m6 l4">
                    <div class="card small cara">
                        <div class="card-image pad-top">
                            <img class="imga" src="{% static 'assets/supp/m.png' %}">
                        </div>
                        <div class="card-content ">
                            <h5 class="font2 oname center pad-top10">

                                محمد حسنی

                            </h5>
                            <p class="font2 otext center"> برنامه نویس پایتون </p>
                            <div class="col s4 center t1">
                                <a href="http://t.me/mohidotpy/" target="_blank"><img class="svg"
                                                                                      src="{% static 'assets/supp/t.png' %}"
                                                                                      alt=""></a>
                            </div>
                            <div class="col s4 center">
                                <a href="https://www.instagram.com/mohidotpy/" target="_blank"><img class="svg"
                                                                                                    src="{% static 'assets/supp/i.png' %}"
                                                                                                    alt=""></a>
                            </div>
                            <div class="col s4 center">
                                <a href="https://twitter.com/mohidotpy/" target="_blank"><img class="svg"
                                                                                              src="{% static 'assets/supp/tw.png' %}"
                                                                                              alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card small cara">
                        <div class="card-image pad-top">
                            <img class="imga" src="{% static 'assets/supp/e.jpg' %}?5">
                        </div>
                        <div class="card-content ">
                            <h5 class="font2 oname center pad-top10">

                                الهام صابری

                            </h5>
                            <p class="font2 otext center"> مدیر بازاریابی و فروش </p>
                            <div class="col s4">
                                &nbsp;
                            </div>
                            <div class="col s4 center t1">
                                <a href="http://t.me/saba_zarnegar2/" target="_blank"><img class="svg"
                                                                                           src="{% static 'assets/supp/t.png' %}"
                                                                                           alt=""></a>
                            </div>
                            <div class="col s4">
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card small cara">
                        <div class="card-image pad-top">
                            <img class="imga" src="{% static 'assets/supp/as.jpg' %}?6">
                        </div>
                        <div class="card-content">
                            <h5 class="font2 oname center pad-top10">

                                اسما صابری

                            </h5>
                            <p class="font2 otext center"> مشاور حقوقی </p>
                            <div class="col s4">
                                &nbsp;
                            </div>
                            <div class="col s4 center t1">
                                <a href="http://t.me/saba_zarnegar/" target="_blank"><img class="svg"
                                                                                          src="{% static 'assets/supp/t.png' %}"
                                                                                          alt=""></a>
                            </div>
                            <div class="col s4">
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </main>


{% endblock %}
