{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>

        <div class="container">
            <div class="row">
                <div class="col l6 m6 s12">
                    <div class="card indexc">
                        <div class="card-content rtla">
                            <h5> ثبتیکا </h5>
                            <p class="indexp">اگر به دنبال خرید یک شرکت میگردید تا در مناقصه شرکت کنید، یا اینکه برای
                                شرکت خود نیاز به تامین مهندس و دریافت گرید دارید به جای درستی اومدید. آگهی های شرکت های
                                در حال فروش و مهندسین رو میتونید با ابزار های ثبتیکا به راحتی جست و جو کنید و با آنها
                                تماس برقرار کنید.</p>
                            <br>
                            <br>
                            <hr>
                            <br>
                            <h5>میتونید آگهی بزارید</h5>

                            <p class="indexp">اگه شما یک شرکت دارید که میخواین اونو بفروشید یا مهندسی هستید که به دنبال
                                یک شرکت برای در اختیار دادن مدرکتون میگردید، میتونید مدرک یا شرکتتون رو در ثبتیکا آگهی
                                کنید.</p>
                        </div>
                    </div>
                </div>
                <div class="col l6 m6 s12">
                    <div class="card indexc">
                        <div class="card-content center">
                            <img class="indei" src="{% static 'assets/04.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col l6 m6 s12">
                    <div class="card indexc">
                        <div class="card-content center">
                            <img class="indei" src="{% static 'assets/05.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col l6 m6 s12">
                    <div class="card indexc">
                        <div class="card-content rtla">
                            <h5> پشتیبانی آنلاین </h5>
                            <p class="indexp"> ما همیشه آنلاینیم هر جا که سوال یا مشکلی بود از همین پایین بهمون خبر
                                بدین. در ضمن تو تلگرام هم هستیم. </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <img class="bg1im" src="{% static 'assets/bg1.png' %}" alt="">
        <img class="bg2im" src="{% static 'assets/bg2.png' %}" alt="">

    </main>


{% endblock %}
