{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>

        <div class="container">
            <div class="row center">
                <div class="col s12 center">
                    <div class="card termsc">
                        <div class="card-content">
                            <h5> قوانین و مقررات </h5>
                            <p class="termsp">
                            <h6 style="    width: 77%;
    margin: 0px auto;
    color: #000000;
    text-align: justify;
    font-size: 17px;
    font-weight: bold;
    padding-top: 28px;
    padding-bottom: 22px;
    line-height: 36px;">به ثبتیکا خوش آمدید. شما ضمن استفاده از ثبتیکا(شامل www.sabtika.ir و سایر سایت‏ها، خدمات و ابزارهای مرتبط با آن)، موافقت خود را با شرایط و تعهد به انجام مفاد توافق‏نامه ‏ای که توسط ثبتیکا تعیین شده، به شرح زیر اعلام کرده‏ اید.</h6>
                                <ol style="    width: 84%;
    margin: 0 auto;">

                            <li>آگهی‌دهندگان با ثبت آگهی خود در ثبتیکا تأیید می‌کنند که آگهیشان شامل مواردی که در ادامه آورده می‌شوند نخواهد بود و همچنین دارای سن بالای ۱۸ سال هستند.
                            </li>
                            <ul>
                                <li>
                                    مغایرت با قوانین جاری جمهوری اسلامی ایران و عرف جامعه،

                                </li>
                                <li>
                                    ناقض حریم شخصی افراد،

                                </li>
                                <li>
                                    هر گونه توهین به ادیان رسمی کشور، آداب، رسوم، قومیت‌ها، لهجه‌ها و گویش‌های مختلف،
                                </li>
                                <li>
                                    استفاده از حروف و زبان انگلیسی برای آگهی‌های فارسی،

                                </li>
                                <li>
                                    وجود جملات نادرست از نظر املائی یا نگارشی
                                </li>
                            </ul>
                            <li>
                                هرگونه سوءاستفاده از شماره تلفن همراه یا نشانی پست الکترونیکی و روش های ارتباطی آگهی دهندگان پیگرد قانونی دارد و آگهی دهنده مسئول آن تلقی شده و ثبتیکا در این مورد هیچ گونه مسئولیتی ندارد.
                            </li>
                            <li>
                                صحت اطلاعات مندرج در آگهی بر عهده آگهی دهنده بوده و ثبتیکا هیچ مسئولیتی در قبال صحت اطلاعات ندارد.
                            </li>
                            <li>
    در صورت گزارش و اثبات اشتباه بودن اطلاعات مندرج در آگهی، ثبتیکا این حق را دارد که آگهی را حذف کند.</li>
                            <li>
                                هزینه پرداخت شده برای درج آگهی، نردبان، فوری و برچسب غیر قابل عودت میباشد.
                            </li>
                            <li>
شرکت ها(اشخاص حقوقی) برای ثبت آگهی فروش، نیاز به مفاصا حساب دارایی شامل عملکرد، تکلیفی، حقوقی،ارزش افزوده و همچنین مفاصا حساب تامین اجتماعی باشند. در غیر این صورت ثبتیکااین حق را دارد که آگهی را حذف کند.
                            </li>
                            <li>
                                ثبتیکا بستری برای راحت تر پیدا کردن شرکت ها و مهندسین میباشد و هیچ مسئولیتی در قبال خرید و فروش و مسائل مالی مابین آگهی دهنده و متقاضی آگهی ندارد.
                            </li>
                            <li>
                            متقاضیان خرید شرکت، قبل از اقدام به خرید میبایست از صحت تمامی مدارک شرکت و تغییرات آن و
                            همچنین داشتن مفاصا حساب دارایی(عملکرد، تکلیفی، حقوقی) و ارزش افزوده و همچنین مفاصا حساب
                            تامین اجتماعی اطمینان حاصل کنند. ثبتیکیا هیچ گونه مسئولیتی در مورد صحت و یا عدم صحت مدارک و
                            اطلاعات شرکت ها ندارد.
                            </li>
                            </ol>


                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

{% endblock %}

