{% extends 'base.html' %}
{% load static %}

{% block content %}
  <main>






    <div class="container" id="suppo">


        <div class="row testin">

            <div class="center col s12">
              <h3>پشتیبانی</h3>
            </div>





          <div class="col s12 center">
            <div class="card small cara">
              <div class="card-content">
                <h5 class="font2 oname center">

                برای تماس با ما میتوانید با شماره <span>32265418 - 034</span> تماس بگیرید


                </h5>
                <h6  class="font2 otext center"> پشتیبانی 24 ساعته: 09399810245  </h6>
                <div class="col s4 center t1">
                  <a href="http://t.me/mohidotpy/" target="_blank"><img class="svg" src="{% static 'assets/supp/t.png'%}" alt=""></a>
                </div>
                <div class="col s4 center">
                  <a href="https://www.instagram.com/mohidotpy/" target="_blank"><img class="svg" src="{% static 'assets/supp/i.png'%}" alt=""></a>
                </div>
                <div class="col s4 center">
                  <a href="https://twitter.com/mohidotpy/" target="_blank"><img class="svg" src="{% static 'assets/supp/tw.png'%}" alt=""></a>
                </div>
              </div>
            </div>
          </div>








        </div>
      </div>




  </main>


{% endblock %}
