@media only screen and (max-width: 1500px) {



}

@media only screen and (max-width: 1000px) {




}

@media only screen and (max-width: 700px) {




}


@font-face {
    font-family: B-Yekan;
    src: url('../fonts/B-Yekan.ttf');
    unicode-range: U+30-39;
}

body {
    direction: ltr;
    font-family: 'B-Yekan', 'Vazir', 'Segoe UI', Tahoma, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #FAFAFA;
}

main {
  flex: 1 0 auto;
  padding-bottom: 70px;
}





.font {
    font-family: 'Vazir', 'B-Yekan';
    font-size: 14px;
}


nav#menuNav {
  margin-top: 30px !important;
  width: 90%;
  margin: auto;
  border-radius: 5px;
  background-color: white;

  -webkit-box-shadow: 1px 2px 15px -5px rgba(119,119,119,0.8);
  -moz-box-shadow: 1px 2px 15px -5px rgba(119,119,119,0.8);
  box-shadow: 1px 2px 15px -5px rgba(119,119,119,0.8);
}



nav ul a {
  color: #543e3e;
  height: 55px;
}

i.material-icons{
  color: #543e3e;
}

nav .nav-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}


.sidenav{
  float: right;
}



.logo1{
  width: 35px;
  margin: auto;
  vertical-align: middle;
}



nav ul a:hover {
  background-color: unset;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: #28beea;
}


.islides{
  position: relative;
  margin: auto;
  width: 50% !important;
  margin-top: 5%;

}




.carousel .indicators .indicator-item.active {
  background-color: #d09d9d;
}


.carousel .indicators .indicator-item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 24px 4px;
  background-color: rgba(224, 181, 181, 0.5);
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  border-radius: 50%;
}



.modal{
  direction: rtl;
}

.row .col{
  padding: 0 !important;
}


.login1{
  margin: auto;
  width: 300px;
  margin-top: 5%;

}

.card-panel{
  -webkit-box-shadow: 1px 2px 8px -3px rgba(119,119,119,0.8);
  -moz-box-shadow: 1px 2px 8px -3px rgba(119,119,119,0.8);
  box-shadow: 1px 2px 8px -3px rgba(119,119,119,0.8);
  border-radius: 5px;
  direction: rtl;
}



.input-field.col label {
  right: 0;
  left: auto;
}


.card-panel.white {
  padding-right: 35px;
  padding-left: 35px;
}


.row {
  margin-bottom: 0;
}


button.waves-effect.waves-light.btn {
  position: relative;
  margin-right: 36%;
}

p.center {
  color: grey;
  font-size: 12px;
  line-height: 22px;
}


.slick-track{
  width: 600px;
  margin-top: 5% !important;
}


nav ul li.active{
  background-color: unset;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: #28beea;
}



test{
  width: 400px;
}





.imageDa {
  width: 100px;
  height: 100px;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 60px;
  border-color: #00C6A7;
}



.card.small {
  height: 250px;
  padding: 25px;
  border-radius: 5px;
}

.card .card-content p {
  text-align: center;
}


#suppo{
  line-height: 10px;
}

.card.small{
  -webkit-box-shadow: 1px 2px 8px -3px rgba(119,119,119,0.8);
  -moz-box-shadow: 1px 2px 8px -3px rgba(119,119,119,0.8);
  box-shadow: 1px 2px 8px -3px rgba(119,119,119,0.8);
}


#wallet {
  margin: auto;
  direction: rtl;
}

#wtext{
  margin-top: 10px;
}

.card.small .card-content, .card.medium .card-content, .card.large .card-content {
  max-height: 100%;
  overflow: hidden;
  line-height: 44px;
}

a.waves-effect.waves-light.btn-small.request.center {
  height: 35px;
  margin: auto;
  align-items: center;
  display: block;
  margin-top: 25px;
  background-color:  #28beea;
  border-radius: 5px;
  -webkit-box-shadow: 1px 2px 8px -3px rgba(119,119,119,0.8);
  -moz-box-shadow: 1px 2px 8px -3px rgba(119,119,119,0.8);
  box-shadow: 1px 2px 8px -3px rgba(119,119,119,0.8);
}


a.waves-effect.waves-light.btn-small.pro.center{
  height: 35px;
  margin: auto;
  align-items: center;
  display: block;
  margin-top: 10px;
  border-color: #28beea;
  border-style: solid;
  border-radius: 5px;
  background-color: white;
  color: grey;
  border-width: 0.5px;
  -webkit-box-shadow: 1px 2px 8px -3px rgba(119,119,119,0.8);
  -moz-box-shadow: 1px 2px 8px -3px rgba(119,119,119,0.8);
  box-shadow: 1px 2px 8px -3px rgba(119,119,119,0.8);
}


.card {
  position: relative;
  margin: .5rem .5rem .5rem .5rem;
}

.userD {
    margin-top: 10%;
}


.cardTest{
  height: 250px !important;
  border-radius: 5px;
  -webkit-box-shadow: 1px 2px 8px -3px rgba(119,119,119,0.8);
  -moz-box-shadow: 1px 2px 8px -3px rgba(119,119,119,0.8);
  box-shadow: 1px 2px 8px -3px rgba(119,119,119,0.8);
}


img.circle.responsive-img {
  width: 40px;
  height: 40px;
  -webkit-box-shadow: 1px 2px 8px -3px rgba(119,119,119,0.8);
  -moz-box-shadow: 1px 2px 8px -3px rgba(119,119,119,0.8);
  box-shadow: 1px 2px 8px -3px rgba(119,119,119,0.8);
}

.card-content.row {
  padding-top: 12px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 12px;
}


.col.s9.rtl {
  direction: rtl;
  margin-top: 11px;
}


span.black-text {
  padding-right: 10px;
}



.card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-image.waves-effect.waves-block.waves-light {
  height: 75%;
}

.tests{
  width: 80%;
  margin: auto;
}


.forgot{
  margin: auto;
}







#clockdiv{
  font-family: sans-serif;
  color: #616161;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  margin-top: 10%;
  direction: rtl;
}

#clockdiv > div{
  padding: 10px;
  display: inline-block;
}

#clockdiv div > span{
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 16px;
}




.emailerror{
  height: 50px;
  border-radius: 5px;
  direction: rtl;
  -webkit-box-shadow: 1px 2px 8px -3px rgba(119,119,119,0.8);
  -moz-box-shadow: 1px 2px 8px -3px rgba(119,119,119,0.8);
  box-shadow: 1px 2px 8px -3px rgba(119,119,119,0.8);
  padding: 1px;
}



.emailp{
  margin-right: 15px;
  color: #616161;
  font-size: 14px;
}


.card.right {
  width: 100%;
  height: 58px;
  background-color: unset !important;
  border-radius: unset;
  box-shadow: unset;
  -webkit-box-shadow: unset;
}


.card.left {
  width: 100%;
  height: 58px;
  padding: 11px;
  background-color: unset !important;
  border-radius: unset;
  box-shadow: unset;
  -webkit-box-shadow: unset;
}


.myTestsCo{
  padding: 10px !important;
}


.s3test{
  width: unset !important;
}



img.responsive-img, video.responsive-video {
  max-width: unset;

}




.btntest{
  background-color:  #28beea;
  border-radius: 5px;
  -webkit-box-shadow: 1px 2px 8px -3px rgba(119,119,119,0.8);
  -moz-box-shadow: 1px 2px 8px -3px rgba(119,119,119,0.8);
  box-shadow: 1px 2px 8px -3px rgba(119,119,119,0.8);
}


.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: #36acda !important;
}




button.waves-effect.waves-light.btn.setbtn {
  position: relative;
  margin-right: 20px;
}



.btncan{
  border-color:  #28beea;
  border-radius: 5px;
  -webkit-box-shadow: unset !important;
  -moz-box-shadow: unset !important;
  box-shadow: unset !important;
  background-color: unset;
  border-style: solid;
  border-width: .5px;
  color: #616161;
}


button.waves-effect.waves-light.btn.setbtn.font.btncan:hover{
  color: white;
}



.userImage{
  width: 100px !important;
  height: 100px !important;
}



.range-field {
  position: relative;
  direction: ltr;
}

button.waves-effect.waves-light.btn.createbtn.font {
  margin-right: 25%;
  background-color:  #28beea;
  border-radius: 5px;
  -webkit-box-shadow: 1px 2px 8px -3px rgba(119,119,119,0.8);
  -moz-box-shadow: 1px 2px 8px -3px rgba(119,119,119,0.8);
  box-shadow: 1px 2px 8px -3px rgba(119,119,119,0.8);
}



.newtestc{
  padding-top: 20px;
  padding-bottom: 60px;
}




.createtest{
  margin: auto;
  width: 350px;
  margin-top: 5%;
}




.dropimage {
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  border-style: solid;
  border-color: #e2e2e2;
  border-width: .5px;
  box-shadow: unset;
  -webkit-box-shadow: unset;
}


.fonta{
  font-size: 11px;
  color: grey;
}




.dz-details {
  display: none;
}


g#Page-1 {
  display: none;
}





.imgtest {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}



button.waves-effect.waves-light.btn.btntest.font{
  margin-right: 0 !important;
  background-color: #28beea;
}



.content {
    direction: rtl;
    width: 300px;
    margin: auto;
    padding-top: 20px;
}


.input-field.col.s12 {
    margin-top: 35px;
}
