{% extends 'authenticated.html' %}
{% load static %}


{% block content %}

    {% url 'ca_invoice:get_regular' as ca_invoice_regular %}
    {% url 'ca_invoice:get_ladder' as ca_invoice_ladder %}
    {% url 'ca_invoice:get_urgent' as ca_invoice_urgent %}

    <main>


        <div class="row createtest">
            <div class="col s12">
                <div class="card-panel white">


                    <form class="form" method="post" action="{% url 'gateway:request' %}">
                        <h5 class="center"> پرداخت </h5>
                        {% csrf_token %}
                        <input type='hidden' name='invoice_id' value="{{ object.id }}">
                        <input type='hidden' name='class_name' value="ca_invoice">
                        <input type='hidden' name='amount' value="{{ object.amount }}">
                        <input type='hidden' name='description' value="">
                        <input type='hidden' name='mobile' value="">
                        <input type='hidden' name='email' value="{{ object.test.user.email }}">
                        <input type='hidden' name='type' value="{{ view.kwargs.type }}">

                        {% if object.type == '1' %}
                            <div class="row">
                                <div class="col s6">
                                    <p class="right"> تعداد تست‌ها </p>
                                </div>
                                <div class="col s6">
                                    <p class="left"> {{ object.test.questions_number }} </p>
                                </div>
                            </div>
                            <input type='hidden' name='mobile' value="">


                            <div class="row">
                                <div class="col s6">
                                    <p class="right"> تعداد کاربران </p>
                                </div>
                                <div class="col s6">
                                    <p class="left"> {{ object.test.users_number }} </p>
                                </div>
                            </div>
                        {% elif object.type == '2' %}

                            <div class="row">
                                <div class="col s12">
                                    <p class="center">ارتقا سطح کاربری</p>
                                </div>

                            </div>

                        {% endif %}

                        <div class="divider"></div>

                        <div class="row">
                            <div class="col s6">
                                <p class="right"> هزینه قابل پرداخت: </p>
                            </div>
                            <div class="col s6">
                                <p class="left"> {{ object.amount }}تومان </p>
                            </div>
                        </div>

                        <button class="waves-effect waves-light btn createbtn font btninvoice" type="submit"> پرداخت
                        </button>


                    </form>
                </div>
            </div>
        </div>


    </main>

{% endblock %}
