{% extends 'authenticated.html' %}
{% load static %}
{% block my_scripts %}
    <script src="{% static 'js/user_tests/create.js' %}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}
{% block content %}

    <main>


        <div class="row createtest" id="main">
            <div class="col s12">
                <div class="card-panel white">


                    <form class="form" method="post" enctype="multipart/form-data">
                        <h5 class="center">آگهی مهندسین</h5>

                        <div class="row">
                            <div class="input-field col s12 left">

                                <label for="id_company_name" class=""> رشته </label>
                                {{ form.field }}

                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12 left">

                                {{ form.degree }}

                            </div>
                        </div>


                        <div class="row">
                            <div class="input-field col s12 left">

                                <label for="id_price" class="">قیمت</label>
                                {{ form.price }}
                            </div>
                        </div>

                        <div class="row" style="margin-top: 16px;">
                            <div class="col s4 right">
                                سابقه بیمه:
                            </div>
                            <div class="col s4 switch switch-absolute center">
                                <label>
                                    ندارد
                                    {{ form.has_insurance_history }}
                                    <span class="lever"></span>
                                    دارد
                                </label>
                            </div>
                            <div class="col s4" id="show-grade" style="visibility: hidden">
                                <span class="numbers users_number left"></span>
                            </div>


                        </div>
                        <div class="row">
                            <div class="input-field col s12 left">

                                <label for="id_insurance_history" class="">سابقه بیمه</label>
                                {{ form.insurance_history }}
                            </div>
                        </div>


                        <div class="row">
                            <div class="input-field col s12 left">
                                {{ form.description }}

                                <label for="id_description" class=""> توضیحات </label>

                            </div>
                        </div>
                        <div class="row">

                            <div class="input-field col s12 center">
                                {{ form.advertise_type }}

                            </div>
                        </div>
                        <div class="row">
                            <p>
                                <label>
                                    {{ form.accuracy }}
                                    <span>صحت اطلاعات نوشته شده را تایید میکنم.</span>
                                </label>
                            </p>
                        </div>
                        {% csrf_token %}

                        <button class="waves-effect waves-light btn createbtn font" type="submit" name="button">
                            ارسال
                        </button>


                    </form>
                </div>
            </div>
        </div>

    </main>


    <div id="ladder" class="modal open" tabindex="0"
         style="z-index: 1003; display: block; opacity: 1; top: 10%; transform: scaleX(1) scaleY(1);">

        <form method="post">
            <input type="hidden" name="csrfmiddlewaretoken"
                   value="onrLRyrOW0GLhIULoB235beA1wq8ZEE106OEMiSKyIAclUaYufiAcH1t9S6KtVC5">
            <input type="hidden" id="type" name="type" value="ladder">
            <input type="hidden" id="ad-id" name="ad-id" value="{{ object.id }}">
            <div class="modal-content">
                <h5 class="center"> نردبان </h5>
                <div class="row">
                    <div class="col s6">
                        <p class="vije">

                            شما با نردبان، آگهی خود را دوباره بالا برده و در بالای همه آگهی ها قرار میگیرد. مثل یک آگهی
                            جدید.
                            آگهی شما تا زمانی که آگهی جدید اضافه نشود بالاتر از همه قرار خواهد گرفت.
                            میگیرد.
                        </p>
                        <h6>هزینه: 10،000 تومان</h6>
                    </div>
                    <div class="col s6">
                        {#                        #TODO add pic to explain#}
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="submit" href="#!" class="waves-effect waves-light btn-small center modalbtn font">
                    نردبان
                </button>
            </div>
        </form>
    </div>
    <div id="instant" class="modal open" tabindex="0"
         style="z-index: 1003; display: block; opacity: 1; top: 10%; transform: scaleX(1) scaleY(1);">

        <form method="post">
            <input type="hidden" name="csrfmiddlewaretoken"
                   value="onrLRyrOW0GLhIULoB235beA1wq8ZEE106OEMiSKyIAclUaYufiAcH1t9S6KtVC5">
            <input type="hidden" id="type" name="type" value="instant">
            <input type="hidden" id="ad-id" name="ad-id" value="{{ object.id }}">
            <div class="modal-content">
                <h5 class="center"> فوری </h5>
                <div class="row">
                    <div class="col s6">
                        <p class="vije">
                            آگهی فوری، دارای برچسب فوری بوده و همچنین ظاهری متفاوت با دیگر آگهی ها دارد که باعث توجه
                            بیشتر کاربران به آن آگهی میشود.
                        </p>
                        <h6>هزینه: 10،000 تومان</h6>
                    </div>
                    <div class="col s6">
                        {#                        #TODO add pic to explain#}
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="submit" href="#!" class="waves-effect waves-light btn-small center modalbtn font">
                    نردبان
                </button>
            </div>
        </form>
    </div>


{% endblock %}
{% block my_footer_script %}
    <script type="text/javascript">var arr = ["id_field"]</script>
    <script type="text/javascript" src="{% static 'js/persian.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/convert-to-persian-letter.js' %}"></script>


    <script type="text/javascript" src="{% static 'js/engineer-advertises/update-form.js' %}"></script>
    <script>
        $("select[required]").css({display: "block", height: 0, padding: 0, width: 0, position: 'absolute'});
    </script>

    <script src="{% static 'js/advertises/fix-toolbar.js' %}"></script>

    {% if object.grade != None %}
        <script src="{% static 'js/advertises/update-form.js' %}"></script>
    {% endif %}

{% endblock %}