{% extends 'authenticated.html' %}
{% load static %}


{% block content %}
    <main>


        <div class="row createtest detail-createtest">
            <div class="col s12" style="height: 400px">
                <div class="card-panel white" style="padding-bottom: 58px">
                    <div class="font2 otext " style="color: #ad1457">
                                        <div class="row">
                                            <div class="col s8">
نوع آگهی: {{ object.get_advertise_type_display }}
<img class="image-header-icon" src="{% if object.advertise_type == '1' %}{% static 'assets/purchase.png' %}{% elif object.advertise_type == '2' %}{% static 'assets/wanted.png' %}{% endif %}" alt="">
                                            </div>
                                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4"><p class="font2 detail-text ">مدرک:</p></div>
                        <div class="col s8"><p class="font2 detail-text ">{{ object.field }}</p></div>
                    </div>
                    <div class="row">
                        <div class="col s4"><p class="font2 detail-text ">مقطع:</p></div>
                        <div class="col s8"><p class="font2 detail-text ">{{ object.get_degree_display }}</p></div>
                    </div>
                    <div class="row">
                        <div class="col s4"><p class="font2 detail-text ">سابقه بیمه:</p></div>
                        <div class="col s8"><p class="font2 detail-text ">{% if object.insurance_history %}
                            {{ object.insurance_history }} ماه
                        {% else %}
                            ندارد
                        {% endif %}</p></div>
                    </div>
                    <div class="row">
                        <div class="col s4"><p class="font2 detail-text ">قیمت:</p></div>
                        <div class="col s8"><p class="font2 detail-text "><span class="price">{{ object.price }}</span>  تومان</p></div>
                    </div>

                    <div class="row">
                        <div class="col s4"><p class="font2 detail-text ">توضیحات:</p></div>
                        <div class="col s8"><p class="break-word font2 detail-text ">{{ object.description }}</p></div>
                    </div>

                    <div class="divider"></div>
                    <br>
                    <div class="col s2"></div>
                    <div class="col s8 center">
                        <a class="waves-effect waves-light btn-small pro center modal-trigger"
                           href="#contact-detail-modal" style="width:70%;">اطلاعات تماس</a>
                    </div>
                    <div class="col s2"></div>


                </div>


            </div>


        </div>
        {% if user.is_authenticated %}
            <div id="contact-detail-modal" class="modal detail-modal" tabindex="0"
                 style="z-index: 1003; display: block; opacity: 1; top: 10%; transform: scaleX(1) scaleY(1);">
                <form class="form" action="/withdrawal/create/" method="post">
                    <input type="hidden" name="csrfmiddlewaretoken"
                           value="4TgKdDEUARZsNvWegWKegABIl8p0BXG3ogx9XIgaXpNEatk8IJLh5rH08QCiGYh3">
                    <input type="hidden" id="user" name="user" value="4">
                    <div class="modal-content">
                        <h5 id="wallet" class="center">اطلاعات تماس</h5>
                        <div class="row">
                            <div class="col s4"><p class="font2 detail-text ">ایمیل:</p></div>
                            <div class="col s8"><p class="font2 detail-text ">{% if object.user.email != None %}
                                {{ object.user.email }}
                            {% else %}
                                ندارد

                            {% endif %}</p></div>

                            <div class="col s4"><p class="font2 detail-text ">موبایل:</p></div>
                            <div class="col s8"><p class="font2 detail-text ">
                                {% if  object.user.phone_number != None %}
                                    {{ object.user.phone_number }}
                                {% else %}
                                    ندارد

                                {% endif %}</p></div>


                            {% if  object.user.instagram != None %}
                                <div class="col s4"><p class="font2 detail-text ">اینستاگرام:</p></div>
                                <div class="col s8"><p class="font2 detail-text ">
                                    <a href="https://instagram.com/{{ object.user.instagram }}"
                                       target="_blank">{{ object.user.instagram }}</a>
                                </p></div>{% endif %}


                            {% if  object.user.telegram != None %}
                                <div class="col s4"><p class="font2 detail-text ">تلگرام:</p></div>
                                <div class="col s8"><p class="font2 detail-text ">
                                    <a href="https://t.me/{{ object.user.telegram }}" target="_blank">{{ object.user.telegram }}</a>
                                </p></div>{% endif %}


                        </div>
                    </div>
                    <div class="modal-footer" style="text-align: center;">
                        <button type="button"
                                class="waves-effect waves-light btn-small center modalbtn font modal-close">
                            بستن
                        </button>
                    </div>
                </form>
            </div>
        {% else %}
            <div id="contact-detail-modal" class="modal detail-modal" tabindex="0"
                 style="z-index: 1003; display: block; opacity: 1; top: 10%; transform: scaleX(1) scaleY(1);">
                <div class="container">
                    <div class="row">
                        <p>برای مشاهده اطلاعات تماس شما باید در وبسایت ثبت نام کنید یا اگر قبلا ثبت نام کرده اید، وارد
                            شوید.</p>
                        <div class="row">
                            <div class="col s6 left"><p><a href="{% url 'users:signup' %}">ثبت نام</a></p>
                            </div>
                            <div class="col s6 right"><p class="left" style="margin-left: 10px;"><a
                                    href="{% url 'users:login' %}">ورود</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </main>

{% endblock %}

{##}
{#{% block my_footer_script %}#}
{#    <script type="text/javascript" src="{% static 'js/add-commas-to-digits.js' %}"></script>#}
{#    <script>#}
{#        $("span.price").digits();#}
{#    </script>#}
{#{% endblock %}#}