{% extends 'authenticated.html' %}
{% load static %}
{% block my_scripts %}

    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>

{% endblock %}
{% block content %}


    <main>

        <div class="container" id="suppo">
            <div class="row rtla second-menu" style="margin-bottom: -25px;">
                <div class="card updatecard2">
                    <ul class="tab">
                        <li class="tab col s6 center"><a class="lista " href="{% url 'advertises:list' %}">شرکت
                            ها</a>
                        </li>
                        <li class="tab col s6 center"><a class="lista active"
                                                         href="{% url 'engineer_advertises:list' %}">مهندسین</a>
                        </li>
                    </ul>
                </div>
            </div>

            <form method="get">
                <div class="row update rtla">
                    <div class="row card updatecard2 var-height eng-height">
                        <div class="col m12 l10 filter-box-list ">
                            <ul class="tab">
                                <li class="tab col m6 l3 s12 li-left-divider just-bottom-border-in-s"
                                    style="height: 45px;">
                                    <div class="input-field col s12" style="bottom: 17px;width: 95%">
                                        <div class="input-field col s12 left">

                                            <label for="field" class="">رشته</label>
                                            <input type="text" name="field" maxlength="100"
                                                   id="field" style="position: relative; bottom: 9px;">

                                        </div>
                                    </div>
                                </li>
                                <li class="tab col m6 l3 s12 li-left-divider not-display-in-m just-bottom-border-in-s"
                                    style="height: 45px;">
                                    <div class="input-field col s12" style="bottom: 17px;width: 95%">
                                        <select multiple name="degree">
                                            <option value="" disabled selected>مقطع</option>
                                            {% for degree in degrees %}
                                                {% if degree.0 != None %}

                                                    <option value="{{ degree.0 }}">{{ degree.1 }}</option>

                                                {% endif %}
                                            {% endfor %}

                                        </select>
                                    </div>
                                </li>
                                <li class="tab col m5 l3 display-in-m li-left-divider" style="height: 45px;">
                                    <div class="input-field col s12" style="bottom: 17px;width: 95%">
                                        <select multiple name="degree">
                                            <option value="" disabled selected>مقطع</option>
                                            {% for degree in degrees %}
                                                <option value="{{ degree.0 }}">{{ degree.1 }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </li>
                                <li class="tab col m6 l4 s12 li-left-divider insurance-in-md  just-bottom-border-in-s"
                                    style="height: 45px">
                                    <div class="col s6" style="margin-top: 22px;">سابقه بیمه(ماه):</div>

                                    <div id="insurance_history" style="position: relative;
    bottom: 18px;">
                                        <div class="input-field col s3" style="margin-left: 10px;">
                                            <label class="number-input" for="insurance-from">از</label>
                                            <input id="insurance-from" name="insurance-from" type="number"
                                                   class="validate"
                                                   min="1" max="800">

                                        </div>
                                        <div class="input-field col s3">
                                            <label class="number-input" for="insurance-to">تا</label>
                                            <input id="insurance-to" name="insurance-to" type="number" class="validate"
                                                   min="1"
                                                   max="800">

                                        </div>
                                    </div>

                                </li>
                                <li class="tab col m5 l3 s12 li-left-divider just-bottom-border-in-s"
                                    style="height: 45px">
                                    <div class="col s6" style="margin-top: 24px;"> قیمت(تومان):</div>

                                    <div id="grade-from-to" style="position: relative;
    bottom: 18px;">
                                        <div class="input-field col s3" style="margin-left: 10px;">
                                            <label class="number-input" for="price-from">از</label>
                                            <input id="price-from" name="price-from" type="number" class="validate"
                                                   min="0">

                                        </div>
                                        <div class="input-field col s3">
                                            <label class="number-input" for="price-to">تا</label>
                                            <input id="price-to" name="price-to" type="number" class="validate" min="0"
                                            >
                                        </div>
                                    </div>

                                </li>


                            </ul>
                        </div>
                        <div class="col m12 l1 filter-box-list li-right-divider">
                            <select name="advertise-type">
                                <option value="" disabled selected>نوع آگهی</option>
                                {% for type in advertise_type %}
                                    {% if not type.0 %}
                                    {% else %}
                                        <option value="{{ type.0 }}">{{ type.1 }}</option>
                                    {% endif %}

                                {% endfor %}

                            </select>
                        </div>
                        <div class="col m12 l1">
                            <button class="waves-effect waves-light btn createbtn font  filter-button full-width-in-m-s"
                                    type="submit"
                                    name="button" value="search"> جست و
                                جو
                            </button>
                        </div>

                    </div>
                </div>
            </form>
            {% if not object_list %}
                <div class="row">
                    <div class="col s12">
                        <div class=" center">
                            <img class="empty responsive-img" src="{% static 'assets/supp/empty-result.png' %}" alt="">
                        </div>

                    </div>
                </div>
            {% endif %}


            <div class="row testin infinite-container">

                {% for ad in object_list %}
                    <div class="infinite-item">

                        <div class="col s12 m6 l3 card-list">
                            <div class="card small cara {% if ad.urgent == True %} urgent {% endif %}">

                                <div class="card-content">
                                    <div class="font2 otext center" style="color: #ad1457">
                                        <div class="row">
                                            <div class="col s1">&nbsp;</div>
                                            <div class="col s10 center">
                                                <img class="image-header-icon" src="{% if ad.advertise_type == '1' %}{% static 'assets/purchase.png' %}{% elif ad.advertise_type == '2' %}{% static 'assets/wanted.png' %}{% endif %}" alt="">
                                                <div class="ad-type">نوع آگهی: {{ ad.get_advertise_type_display }}</div>
                                            </div>
                                            <div class="col s1">&nbsp;</div>

                                        </div>
                                    </div>
                                <div class="divider"></div>
                                    <h6 class="font2 otext center">مدرک: {{ ad.field }} </h6>
                                    <h6 class="font2 otext center">مقطع: {{ ad.get_degree_display }} </h6>
                                    <h6 class="font2 otext center">سابقه بیمه:{% if ad.insurance_history %}
                                        {{ ad.insurance_history }} ماه
                                    {% else %}
                                        ندارد
                                    {% endif %}

                                        <h6 class="font2 otext center">قیمت: {{ ad.price }} تومان</h6>
                                        <div class="card-content" style="padding: unset;margin-top: 40px;">
                                            {% if ad.urgent == True %}

                                                <button style="width: 40%;"
                                                        onclick="window.location.href='{% url 'engineer_advertises:detail' pk=ad.id %}'"
                                                        class="waves-effect waves-light btn setbtn font btncan urgent-button"
                                                        type="button" name="button">فوری
                                                </button>
                                            {% else %}
                                                <button style="width: 40%;"
                                                        onclick="window.location.href='{% url 'engineer_advertises:detail' pk=ad.id %}'"
                                                        class="waves-effect waves-light btn setbtn font btncan"
                                                        type="button" name="button">بیشتر
                                                </button>
                                            {% endif %}

                                        </div>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>

        </div>

        <div class="container" style="text-align: center;">
            <img class="loading" style=" width: 75px;margin-top: 57px; display: none;"
                 src="{% static 'assets/gif/loading.gif' %}">
        </div>

        {% if page_obj.has_next %}
            <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
        {% endif %}


    </main>

{% endblock %}



{% block my_footer_script %}
    <script src="{% static 'js/infinit-scroll.js' %}"></script>

    <script>
        $(document).ready(function () {


            $("#grade-checkbox").change(function () {
                var status = $(this).prop('checked');
                if (status == true) {
                    {#                    $('#grade-from-to').show();#}
                    $('#grade-from').removeAttr('disabled');
                    $('#grade-to').removeAttr('disabled');

                    $('label.number-input').removeAttr('disabled');
                } else {
                    {#                    $('#grade-from-to').hide();#}
                    $('#grade-from').attr('disabled', 'disabled');
                    $('#grade-to').attr('disabled', 'disabled');
                    $('label.number-input').attr('disabled', 'disabled');

                }

            });

            $("#grade-checkbox-m").change(function () {
                var status = $(this).prop('checked');
                if (status == true) {
                    {#                    $('#grade-from-to').show();#}
                    $('#grade-from-m').removeAttr('disabled');
                    $('#grade-to-m').removeAttr('disabled');

                    $('label.number-input').removeAttr('disabled');
                } else {
                    {#                    $('#grade-from-to').hide();#}
                    $('#grade-from-m').attr('disabled', 'disabled');
                    $('#grade-to-m').attr('disabled', 'disabled');
                    $('label.number-input').attr('disabled', 'disabled');

                }

            });


        });
    </script>

    <script type="text/javascript">var arr = ["field"]</script>
    <script type="text/javascript" src="{% static 'js/persian.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/convert-to-persian-letter.js' %}"></script>


    <script src="{% static 'js/engineer-advertises/remove-empty-fields.js' %}"></script>

{% endblock %}

