{% extends 'authenticated.html' %}
{% load static %}
{% block my_scripts %}

    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>

{% endblock %}
{% block content %}

    {% url 'engineer_advertises:my_list' as my_engineer_advertises_list %}

    <main>

        <div class="container" id="suppo">
            <div class="row userD">
                <div class="col s8">
                    <div class="card right">

                        <div class="card-content myTestsCo">
                            <div class="col s3 s3test">
                                <img src="{% if user.profile_picture %}
                                    {% get_media_prefix %}{{ user.profile_picture }}
                                    {% else %}
                                        {% static 'assets/default.png' %}
                                    {% endif %}
                                    " alt=""
                                     class="circle responsive-img">
                                <!-- notice the "circle" class -->
                            </div>
                            <div class="col s9 rtl">
                <span class="black-text">
                  {% if not user.first_name %}
                      نام خود را انتخاب کنید
                  {% else %}
                      {{ user.first_name }}
                  {% endif %}
                    <a class="settings"
                       href="{% url 'users:profile' %}">ویرایش پروفایل </a></span>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col s4 ltr">
                    <div class="card left">

                        <a class="waves-effect waves-light btn btntest" href="{% url 'engineer_advertises:create' %}">
                            ایجاد آگهی
                            + </a>
                    </div>


                </div>
            </div>

            <div class="row update rtla second-menu">
                <div class="card updatecard2">
                    <ul class="tab">
                        <li class="tab col s6 center"><a class="lista " href="{% url 'advertises:my_list' %}"> شرکت
                            ها </a>
                        </li>
                        <li class="tab col s6 center"><a
                                class="lista {% if request.path == my_engineer_advertises_list %}active{% endif %}"
                                href="{% url 'engineer_advertises:my_list' %}">
                            مهندسین </a>
                        </li>
                    </ul>
                </div>
            </div>
            {% if not object_list %}
                <div class="row">
                    <div class="col s12">
                        <div class=" center">
                            <img class="empty responsive-img" src="{% static 'assets/supp/empty-result.png' %}" alt="">
                        </div>

                    </div>
                </div>
            {% endif %}
            <div class="row testin infinite-container">

                {% for ad in object_list %}
                    <div class="infinite-item">

                        <div class="col s12 m6 l3 card-list">
                            <div class="card small cara">

                                <div class="card-content">

                                    <h6 class="font2 otext center">مدرک: {{ ad.field }}</h6>
                                    <h6 class="font2 otext center">مقطع: {{ ad.get_degree_display }}</h6>
                                    <h6 class="font2 otext center">سابقه بیمه:{% if ad.insurance_history %}
                                        {{ ad.insurance_history }} ماه
                                    {% else %}
                                        ندارد
                                    {% endif %}

                                        <h6 class="font2 otext center">قیمت: {{ ad.price }} تومان</h6>
                                        <div class="card-content" style="padding: unset;    margin-top: 75px;">
                                            <div class="row" style="margin-bottom: 15px;margin-top: 10px;">
                                                <div class="col s6 ">
                                                    <button onclick="window.location.href='{% url 'engineer_advertises:update' pk=ad.id %}'"
                                                            class="left waves-effect waves-light btn setbtn font "
                                                            type="button" name="button" style="width:50%; margin-left: 30px; bottom: unset;">ویرایش
                                                    </button>
                                                </div>
                                                <div class="col s6 ">
                                                    <button class="waves-effect waves-light btn createbtn font btncan"
                                                            type="submit"
                                                            onclick="window.location.href='{% url 'engineer_advertises:detail' pk=ad.id %}'"
                                                            name="button">مشاهده
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>

        </div>

        <div class="container" style="text-align: center;">
            <img class="loading" style=" width: 75px;margin-top: 57px; display: none;"
                 src="{% static 'assets/gif/loading.gif' %}">
        </div>

        {% if page_obj.has_next %}
            <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
        {% endif %}


    </main>

{% endblock %}



{% block my_footer_script %}
    <script src="{% static 'js/infinit-scroll.js' %}"></script>

    <script>
        $(document).ready(function () {


            $("#grade-checkbox").change(function () {
                var status = $(this).prop('checked');
                if (status == true) {
                    {#                    $('#grade-from-to').show();#}
                    $('#grade-from').removeAttr('disabled');
                    $('#grade-to').removeAttr('disabled');

                    $('label.number-input').removeAttr('disabled');
                } else {
                    {#                    $('#grade-from-to').hide();#}
                    $('#grade-from').attr('disabled', 'disabled');
                    $('#grade-to').attr('disabled', 'disabled');
                    $('label.number-input').attr('disabled', 'disabled');

                }

            });

            $("#grade-checkbox-m").change(function () {
                var status = $(this).prop('checked');
                if (status == true) {
                    {#                    $('#grade-from-to').show();#}
                    $('#grade-from-m').removeAttr('disabled');
                    $('#grade-to-m').removeAttr('disabled');

                    $('label.number-input').removeAttr('disabled');
                } else {
                    {#                    $('#grade-from-to').hide();#}
                    $('#grade-from-m').attr('disabled', 'disabled');
                    $('#grade-to-m').attr('disabled', 'disabled');
                    $('label.number-input').attr('disabled', 'disabled');

                }

            });


        });
    </script>

    <script src="{% static 'js/advertises/remove-empty-fields.js' %}"></script>

{% endblock %}

