{% extends 'authenticated.html' %}
{% load static %}
{% block my_scripts %}
    <script src="{% static 'js/user_tests/create.js' %}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}
{% block content %}

    <main>


        <div class="row createtest update-ad" id="main">
            <div class="col s12 m4" style="position: relative;">
                <div id='wrr' class="card-panel white">
                    <div class="row">
                        <div class="col s3"><i style="margin-top: 7px;" class="fas fa-question-circle tooltipped"
                                               data-position="bottom"
                                               data-tooltip="با نردبان اگهی شما دوباره به بالای همه آگهی ها منتقل شده و بیشتر دیده میشود"></i>
                        </div>
                        <div class="col s8">
                            <button class="mine waves-effect waves-light btn createbtn font modal-trigger" type="submit"
                                    name="button" href="#ladder">
                                <i class="fas fa-sort-amount-up"><span class="mine"
                                                                       style="font-family: Vazir;margin-right: 10px;">نردبان</span></i>
                            </button>
                        </div>


                    </div>

                    <div class="row" style="margin-top: 10px;">
                        <div class="col s3"><i style="margin-top: 7px;" class="fas fa-question-circle tooltipped"
                                               data-position="bottom"
                                               data-tooltip="آگهی فوری برچسب فوری داشته و ظاهر آن با سایر آگهی ها متفاوت است که منجر به بیشتر دیده شدن آن میشودمیشود"></i>
                        </div>
                        <div class="col s8">
                            <button class="mine waves-effect waves-light btn createbtn font modal-trigger" type="button"
                                    name="button" style="background-color: #e74c3c;" href="#instant">
                                <i class="fas fa-exclamation-circle"><span class="mine"
                                                                           style="font-family: Vazir;margin-right: 10px;">فوری</span></i>
                            </button>
                        </div>

                    </div>

                </div>
            </div>
            {#            <div class="col s12 m4"></div>#}

            <div class="col s12 m8">
                <div class="card-panel white">


                    <form class="form" method="post" enctype="multipart/form-data">
                        <h5 class="center"> ویرایش آگهی </h5>

                        <div class="row">
                            <div class="input-field col s12 left">

                                <label for="id_company_name" class=""> رشته </label>
                                {{ form.field }}

                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12 left">

                                {{ form.degree }}

                            </div>
                        </div>


                        <div class="row">
                            <div class="input-field col s12 left">

                                <label for="id_price" class="">قیمت</label>
                                {{ form.price }}
                            </div>
                        </div>

                        <div class="row" style="margin-top: 16px;">
                            <div class="col s4 right">
                                سابقه بیمه:
                            </div>
                            <div class="col s4 switch switch-absolute center">
                                <label>
                                    ندارد
                                    {{ form.has_insurance_history }}
                                    <span class="lever"></span>
                                    دارد
                                </label>
                            </div>
                            <div class="col s4" id="show-grade" style="visibility: hidden">
                                <span class="numbers users_number left"></span>
                            </div>


                        </div>
                        <div class="row">
                            <div class="input-field col s12 left">

                                <label for="id_insurance_history" class="">سابقه بیمه</label>
                                {{ form.insurance_history }}
                            </div>
                        </div>


                        <div class="row">
                            <div class="input-field col s12 left">
                                {{ form.description }}

                                <label for="id_description" class=""> توضیحات </label>

                            </div>
                        </div>

                        {% csrf_token %}

                        <button class="waves-effect waves-light btn createbtn font" type="submit" name="button">
                            به روز رسانی
                        </button>


                    </form>
                </div>
            </div>
        </div>

    </main>


    <div id="ladder" class="modal open" tabindex="0"
         style="z-index: 1003; display: block; opacity: 1; top: 10%; transform: scaleX(1) scaleY(1);">

        <form method="post" action={% url 'en_invoice:create' %}>
            {% csrf_token %}
            <input type="hidden" id="type" name="type" value="ladder">
            <input type="hidden" id="engineer_advertise" name="engineer_advertise" value="{{ object.id }}">
            <div class="modal-content">
                <h5 class="center"> نردبان </h5>
                <div class="row">

                    <div class="col s6">
                        <p class="vije">

                            شما با نردبان، آگهی خود را دوباره بالا برده و در بالای همه آگهی ها قرار میگیرد. مثل یک آگهی
                            جدید.
                            آگهی شما تا زمانی که آگهی جدید اضافه نشود بالاتر از همه قرار خواهد گرفت.
                            میگیرد.
                        </p>
                        <h6>هزینه: 7،000 تومان</h6>
                    </div>
                    <div class="col s6">
                        {#                        #TODO add pic to explain#}
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="submit" href="#!" class="waves-effect waves-light btn-small center modalbtn font">
                    نردبان
                </button>
            </div>
        </form>
    </div>
    <div id="instant" class="modal open" tabindex="0"
         style="z-index: 1003; display: block; opacity: 1; top: 10%; transform: scaleX(1) scaleY(1);">

        <form method="post" action="{% url 'en_invoice:create' %}">
            {% csrf_token %}
            <input type="hidden" id="type" name="type" value="urgent">
            <input type="hidden" id="engineer_advertise" name="engineer_advertise" value="{{ object.id }}">
            <div class="modal-content">
                <h5 class="center"> فوری </h5>
                <div class="row">
                    <div class="col s6">
                        <p class="vije">
                            آگهی فوری، دارای برچسب فوری بوده و همچنین ظاهری متفاوت با دیگر آگهی ها دارد که باعث توجه
                            بیشتر کاربران به آن آگهی میشود.
                        </p>
                        <h6>هزینه: 15،000 تومان</h6>
                    </div>
                    <div class="col s6">
                        {#                        #TODO add pic to explain#}
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="submit" href="#!" class="waves-effect waves-light btn-small center modalbtn font">
                    فوری
                </button>
            </div>
        </form>
    </div>


{% endblock %}
{% block my_footer_script %}
    <script type="text/javascript" src="{% static 'js/engineer-advertises/update-form.js' %}"></script>
    <script>
        $("select[required]").css({display: "block", height: 0, padding: 0, width: 0, position: 'absolute'});
    </script>

    <script src="{% static 'js/advertises/fix-toolbar.js' %}"></script>

    {% if object.grade != None %}
        <script src="{% static 'js/advertises/update-form.js' %}"></script>
    {% endif %}

{% endblock %}