{% extends 'authenticated.html' %}
{% load static %}
{% load jformat %}

{% block content %}


    <div class="row update rtla second-menu" style="width: 90%;">
        <div class="card updatecard2 middle-width">
            <ul class="tab">
                <li class="tab col s6 center"><a class="lista" href="{% url 'ca_invoice:history' %}"> شرکت</a></li>
                <li class="tab col s6 center"><a class="lista active" href="{% url 'en_invoice:history' %}"> مهندس </a>
                </li>
            </ul>
        </div>
    </div>



    <main>


        <div class="row update2 rtla">
            <div class="card updatecard middle-width">
                <table>
                    <thead>
                    <tr>
                        <th> نوع</th>
                        <th> تاریخ</th>
                        <th> مبلغ</th>
                        <th> وضعیت</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for history in object_list %}


                        <tr>
                            {% if history.type == 'regular' %}
                                <td>آگهی تامین مهندس</td>
                            {% elif history.type == 'ladder' %}
                                <td>نردبان</td>
                            {% elif history.type == 'urgent' %}
                                <td>فوری</td>
                            {% endif %}
                            <td> {{ history.creation_date|jformat:'%H:%M:%S - %y/%m/%d' }}</td>
                            <td> {{ history.amount }} تومان</td>
                            <td> {% if history.payment == True %}
                                تایید شده
                            {% else %}
                                <a href="{% url 'en_invoice:get' pk=history.id type=history.type %}"
                                   style="color: blue">منتظر پرداخت</a>
                            {% endif %}</td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>


        </div>


    </main>


{% endblock %}
