@media only screen and (max-width: 1500px) {

}

@media only screen and (max-width: 1000px) {

}

@media only screen and (max-width: 600px) {
    #toast-container {
        min-width: 80%;
        bottom: 0%;
    }

}

.bgwhite {
    background-color: #FFFFFF !important;
}

.container3 {
    position: absolute;
}

@font-face {
    font-family: B-Yekan;
    src: url('../fonts/B-Yekan.ttf');
    unicode-range: U+30-39;
}

@font-face {
    font-family: vazir;
    src: url(../fonts/Vazir.ttf);
}

body {
    direction: ltr;
    font-family: 'B-Yekan', 'Vazir', 'Segoe UI', Tahoma, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #FAFAFA;
}

main {
    flex: 1 0 auto;
    padding-bottom: 70px;
}

.font {
    font-family: 'Vazir', 'B-Yekan';
    font-size: 14px;
}

nav#menuNav {
    margin-top: 30px !important;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    background-color: white;

    -webkit-box-shadow: 1px 2px 15px -5px rgba(119, 119, 119, 0.8);
    -moz-box-shadow: 1px 2px 15px -5px rgba(119, 119, 119, 0.8);
    box-shadow: 1px 2px 15px -5px rgba(119, 119, 119, 0.8);
}

i.material-icons {
    color: #543e3e;
}

nav .nav-wrapper {
    padding-left: 20px;
    padding-right: 20px;
}

.sidenav {
    float: right;
}

.logo1 {
    width: 35px;
    margin: auto;
    vertical-align: middle;
}

.islides {
    position: relative;
    margin: auto;
    width: 50% !important;
    margin-top: 5%;

}

.carousel .indicators .indicator-item.active {
    background-color: #d09d9d;
}

.carousel .indicators .indicator-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 24px 4px;
    background-color: rgba(224, 181, 181, 0.5);
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    border-radius: 50%;
}

.modal {
    direction: rtl;
}

.row .col {
    padding: 0 !important;
}

.login1 {
    margin: auto;
    width: 300px;
    margin-top: 5%;

}

.card-panel {
    -webkit-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    -moz-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    border-radius: 5px;
    direction: rtl;
}

.input-field.col label {
    right: 0;
    left: auto;
}

.card-panel.white {
    padding-right: 35px;
    padding-left: 35px;
}

.row {
    margin-bottom: 0;
}

button.waves-effect.waves-light.btn {
    height: 35px;
    margin: auto;
    align-items: center;
    display: block;
    background-color: #AD1457;
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    -moz-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
}

p.center {
    color: grey;
    font-size: 12px;
    line-height: 22px;
}

.slick-track {
    width: 600px;
    margin-top: 5% !important;
}

test {
    width: 400px;
}

.imageDa {
    width: 100px;
    height: 100px;
    margin: auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 60px;
    border-color: #8D0641;
}

.card.small {
    height: 288px;
    padding: 25px;
    border-radius: 5px;
}

.card .card-content p {
    text-align: center;
}

#suppo {
    line-height: 10px;
}

.card.small {
    -webkit-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    -moz-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
}

#wallet {
    margin: auto;
    direction: rtl;
}

#wtext {
    margin-top: 10px;
}

.card.small .card-content, .card.medium .card-content, .card.large .card-content {
    max-height: 100%;
    overflow: hidden;
    line-height: 44px;
}

a.waves-effect.waves-light.btn-small.request.center {
    height: 35px;
    margin: auto;
    align-items: center;
    display: block;
    margin-top: 25px;
    background-color: #AD1457;
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    -moz-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
}

button.select-test-button.waves-effect.waves-light.btn-small.center.m1odalbtn.font {
    height: 35px;
    margin: auto;
    align-items: center;
    display: block;
    margin-top: 25px;
    background-color: #AD1457;
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    -moz-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
}

a.waves-effect.waves-light.btn-small.pro.center {
    height: 35px;
    margin: auto;
    align-items: center;
    display: block;
    margin-top: 10px;
    border-color: #AD1457;
    border-style: solid;
    border-radius: 5px;
    background-color: white;
    color: grey;
    border-width: 1px;
    -webkit-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    -moz-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
}

.card {
    position: relative;
    margin: .5rem .5rem .5rem .5rem;
}

.userD {
    margin-top: 5%;
}

.cardTest {
    height: 275px !important;
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    -moz-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
}

img.circle.responsive-img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    -webkit-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    -moz-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
}

.card-content.row {
    padding-top: 6px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 12px;
    line-height: 33px;
}

.col.s9.rtl {
    direction: rtl;
    margin-top: 5px;
}

span.black-text {
    padding-right: 10px;
}

.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-image.waves-effect.waves-block.waves-light {
    height: 70%;
    border-radius: 5px 5px 0px 0px;
}

.tests {
    width: 80%;
    margin: auto;
}

.forgot {
    margin: auto;
}

#clockdiv {
    font-family: sans-serif;
    color: #616161;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    margin-top: 10%;
    direction: rtl;
}

#clockdiv > div {
    padding: 10px;
    display: inline-block;
}

#clockdiv div > span {
    display: inline-block;
}

.smalltext {
    padding-top: 5px;
    font-size: 16px;
}

.emailerror {
    width: 50%;
    margin: auto;
    margin-top: 1%;
    height: 50px;
    border-radius: 5px;
    direction: rtl;
    -webkit-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    -moz-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    padding: 1px;
}

.emailerror2 {

    height: 50px;
    border-radius: 5px;
    direction: rtl;
    -webkit-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    -moz-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    padding: 1px;
}

.emailp {
    margin-right: 15px;
    color: #616161;
    font-size: 14px;
}

.card.right {
    width: 100%;
    height: 58px;
    background-color: unset !important;
    border-radius: unset;
    box-shadow: unset;
    -webkit-box-shadow: unset;
}

.card.left {
    width: 100%;
    height: 58px;
    padding: 11px;
    background-color: unset !important;
    border-radius: unset;
    box-shadow: unset;
    -webkit-box-shadow: unset;
}

.myTestsCo {
    padding: 10px !important;
}

.s3test {
    width: unset !important;
}

img.responsive-img, video.responsive-video {
    max-width: unset;

}

.btntest {
    background-color: #AD1457;
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    -moz-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #C51162 !important;
    color: white !important;
}

button.waves-effect.waves-light.btn.setbtn {
    position: absolute;
    bottom: 14px;
    left: 32%;
}

.btncan {
    height: 35px !important;
    margin: auto;
    align-items: center !important;
    display: block !important;

    border-color: #AD1457 !important;
    border-style: solid !important;
    border-radius: 5px !important;
    background-color: white !important;
    color: grey !important;
    border-width: 1px !important;
    -webkit-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    -moz-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
}

button.waves-effect.waves-light.btn.setbtn.font.btncan:hover {
    color: white !important;
}

a.waves-effect.waves-light.btn-small.pro.center.modal-trigger:hover {
    color: white !important;
}

.userImage {
    width: 100px !important;
    height: 100px !important;
    object-fit: cover;
}

.range-field {
    position: relative;
    direction: ltr;
}

button.waves-effect.waves-light.btn.createbtn.font {
    background-color: #AD1457;
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    -moz-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
}

a.waves-effect.waves-light.btn.b404 {
    background-color: #AD1457;
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    -moz-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
}

.newtestc {
    padding-top: 20px;
    padding-bottom: 60px;
}

.createtest {
    margin: auto;
    width: 350px;
    margin-top: 5%;
}

.col.s12.m6.l6.createtest {
    margin-top: 0;
}

.dropimage {
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    border-style: solid;
    border-color: #e2e2e2;
    border-width: .5px;
    box-shadow: unset;
    -webkit-box-shadow: unset;
}

.dropimage2 {
    width: 100%;
    height: 270px;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    border-style: solid;
    border-color: #e2e2e2;
    border-width: .5px;
    box-shadow: unset;
    -webkit-box-shadow: unset;
}

.fonta {
    font-size: 11px;
    color: grey;
}

.dz-details {
    display: none;
}

g#Page-1 {
    display: none;
}

.imgtest {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
}

button.waves-effect.waves-light.btn.btntest.font {

    background-color: #AD1457;
}

.content {
    direction: rtl;
    width: 300px;
    margin: auto;
    padding-top: 20px;
}

img.empty {
    /*margin-top: 20%;*/
    max-width: 50%;
}

img.stopwatch {

    width: 100px;
}

img.p404 {
    margin-top: 5%;
    width: 300px;
}

.answercard {
    height: 320px !important;
}

.rtla {
    direction: rtl;
}

button.waves-effect.waves-light.btn.createbtn.font.btninvoice {
    margin-right: 35%;
    margin-top: 20px;
}

.update {
    /*width: 90%;*/
    margin-top: 5%;
}

td {
    width: 30%;
}

img.imgupdate {
    width: 100px;
}

.updatecard {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 4px;
    padding-bottom: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    -moz-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
}

.iconUpdate {
    width: 20px;
    height: 20px;
}

span.black-text.userDetail {
    font-size: 12px;
}

.row .col.s3 {
    width: 20%;
    left: auto;
    right: auto;
}

.col.s12.rtla {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
}

#clockdiv2 {
    font-family: sans-serif;
    color: #616161;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    margin-bottom: 14px;
    direction: rtl;
}

.card-image.banklogo {
    height: 80px;
    width: 80px;
    margin: auto;
}

.card-content.bankcontent {
    max-height: 100% !important;
    padding: 0;
}

button.waves-effect.waves-light.btn-small.center.modalbtn {
    background-color: #AD1457;
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    -moz-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
}

a.waves-effect.waves-light.btn-small.center.modalbtn {
    margin-left: 95px;
    background-color: #AD1457;
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    -moz-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
}

button.waves-effect.waves-light.btn-small.center.modalbtn1 {
    border-color: #AD1457;
    margin-left: 60px;
    border-style: solid;
    border-radius: 5px;
    background-color: white;
    color: grey;
    border-width: 0.5px;
    -webkit-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    -moz-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
}

div#modal1 {
    width: 300px;
    height: 350px;
    border-radius: 5px;
}

div#modal1.bank-account {
    height: 420px;
}

div#modal2 {
    width: 300px;
    border-radius: 5px;
}

div#modal3 {
    width: 300px;
    border-radius: 5px;
}

div.select-test-modal {
    width: 300px;
    height: 320px;
    border-radius: 5px;
    margin-top: 120px;
}

.modal-overlay {
    background: #ababab;
}

.marg1 {
    margin-top: 20px !important;
}

.marg {
    margin-top: 30px !important;
}

p.vije {
    font-size: 14px;
    color: #616161;
    line-height: 25px;
}

.moj {
    margin-top: 30px !important;
}

form.dropzone.dz-clickable {
    width: 100%;
    height: 100%;
}

.dz-default.dz-message {
    display: none;
}

.dz-image {
    margin-top: 42px;
}

#profile-upload {
    background-image: url('');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    border: 1px solid #bbb;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    object-fit: cover;
}

#profile-upload:hover input.upload {
    display: block;
}

#profile-upload:hover .hvr-profile-img {
    display: inline-block;
}

#profile-upload .fa {
    margin: auto;
    position: absolute;
    bottom: -4px;
    left: 0;
    text-align: center;
    right: 0;
    padding: 6px;
    opacity: 1;
    transition: opacity 1s linear;
    -webkit-transform: scale(.75);

}

#profile-upload:hover .fa {
    opacity: 1;
    -webkit-transform: scale(1);
}

#profile-upload input.upload {
    z-index: 1;
    left: 0;
    margin: 0;
    bottom: 0;
    top: 0;
    padding: 0;
    opacity: 0;
    outline: none;
    cursor: pointer;
    position: absolute;
    background: #ccc;
    width: 100%;
    display: none;
}

#profile-upload .hvr-profile-img {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    vertical-align: middle;
    position: relative;
    background: transparent;
}

#profile-upload .fa:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0px;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
    transition: height 0.3s;
}

#profile-upload:hover .fa:after {
    height: 100%;
}

#profile-upload2 {
    background-image: url('');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    border: 1px solid #bbb;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    object-fit: cover;
}

#profile-upload2:hover input.upload {
    display: block;
}

#profile-upload2:hover .hvr-profile-img2 {
    display: inline-block;
}

#profile-upload2 .fa {
    margin: auto;
    position: absolute;
    bottom: -4px;
    left: 0;
    text-align: center;
    right: 0;
    padding: 6px;
    opacity: 1;
    transition: opacity 1s linear;
    -webkit-transform: scale(.75);

}

#profile-upload2:hover .fa {
    opacity: 1;
    -webkit-transform: scale(1);
}

#profile-upload2 input.upload {
    z-index: 1;
    left: 0;
    margin: 0;
    bottom: 0;
    top: 0;
    padding: 0;
    opacity: 0;
    outline: none;
    cursor: pointer;
    position: absolute;
    background: #ccc;
    width: 100%;
    display: none;
}

#profile-upload2 .hvr-profile-img2 {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    vertical-align: middle;
    position: relative;
    background: transparent;
}

#profile-upload2 .fa:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0px;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
    transition: height 0.3s;
}

#profile-upload2:hover .fa:after {
    height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

#toast-container {
    right: 5%;
    left: auto;
    top: 10%;
    bottom: auto;
}

.toast {
    background-color: #FFFFFF !important;
    color: #24bece !important;
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 15px -3px rgba(119, 119, 119, 0.8);
    -moz-box-shadow: 1px 2px 15px -3px rgba(119, 119, 119, 0.8);
    box-shadow: 1px 2px 15px -3px rgba(119, 119, 119, 0.8);
}

.prouser {
    margin-top: 20px !important;
}

#profile-image {
    background-image: url('');
    background-size: cover;
    background-position: center;
    height: 100px;
    width: 100px;
    margin: auto;
    position: relative;
    border-radius: 100px;
    overflow: hidden;
    object-fit: cover;
    -webkit-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    -moz-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
}

#profile-image:hover input.upload {
    display: block;
}

#profile-image:hover .hvr-profile-img {
    display: inline-block;
}

#profile-image .fa {
    margin: auto;
    position: absolute;
    bottom: -4px;
    left: 0;
    text-align: center;
    right: 0;
    padding: 6px;
    opacity: 1;
    transition: opacity 1s linear;
    -webkit-transform: scale(.75);

}

#profile-image:hover .fa {
    opacity: 1;
    -webkit-transform: scale(1);
}

#profile-image input.upload {
    z-index: 1;
    left: 0;
    margin: 0;
    bottom: 0;
    top: 0;
    padding: 0;
    opacity: 0;
    outline: none;
    cursor: pointer;
    position: absolute;
    background: #ccc;
    width: 100%;
    display: none;
}

#profile-image .hvr-profile-img {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    vertical-align: middle;
    position: relative;
    background: transparent;
}

#profile-image .fa:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0px;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
    transition: height 0.3s;
}

#profile-image:hover .fa:after {
    height: 100%;
}

/* WARNING: INDEX.HTML */
.indei {
    width: 300px;
    margin-top: -20px;
}

.indexp {
    text-align: right !important;
    color: #717171;
    font-size: 13px;
    line-height: 21px;
}

.indexc {
    background-color: unset !important;
    box-shadow: unset !important;
    -webkit-box-shadow: unset !important;
    -moz-box-shadow: unset !important;
    margin-top: 40px;
    margin-bottom: 20px;
}

ul#mobile-demo {
    direction: rtl;
}

.indexi2 {
    height: 150px;
}

/* WARNING: Footer */
.ftest {
    direction: rtl;
    position: relative;
    width: 100%;
    background-color: #FAFAFA00;
    color: white;
    text-align: center;
    list-style-type: none;
}

.ftest a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.col.l12.offset-l2.s12.ftest.aa {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

ul#horizontal-list {
    list-style: none;
    margin: 5px auto;
}

ul#horizontal-list2 {
    list-style: none;
    margin: -8px auto;
}

ul#horizontal-list li {
    display: inline-block;
    padding-inline-start: 0px !important;
}

ul#horizontal-list2 li {
    display: inline-block;
    padding-inline-start: 0px !important;
}

.divider {
    height: 1px;
    width: 70%;
    opacity: 0.8;
    margin: 0px auto;
    margin-bottom: 0px !important;
}

.grey-text.text-lighten-3 {
    font-size: 13px;
    color: #5f5f5f !important;
}

ul:not(.browser-default) {
    padding-left: 0px;
    padding-right: 0px;
}

/* WARNING: Menu */

nav ul li.active {
    background-image: url(../assets/active.png);
    background-size: 100% 3px;
    background-position: 0px 11px;
    background-repeat: no-repeat;
    background-color: unset;
}

.sidenav li.active {
    background-image: url(../assets/active.png);
    background-size: 30px 20px;
    background-position: 250px center;;
    background-repeat: no-repeat;
    background-color: unset;
}

nav ul a:hover {
    background-image: url(../assets/active.png);
    background-size: 80% 1px;
    background-position: center 50px;;
    background-repeat: no-repeat;
    background-color: unset;
}

.sidenav li > a:hover {
    background-image: url(../assets/active.png);
    background-size: 80% 1px;
    background-position: center 43px;;
    background-repeat: no-repeat;
    background-color: unset;
}

nav ul a {
    color: #543e3e;
    padding: 0 10px;
}

.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
    background-color: #C51162 !important;
}

.lista.active {
    background-image: url(../assets/active.png);
    background-size: 30px 20px;
    background-position: 14px center;;
    background-repeat: no-repeat;
    background-color: unset;
    color: #313131;
}

.lista {
    color: #313131;
}

.lista:hover {
    background-image: url(../assets/active.png);
    background-size: 80% 1px;
    background-position: center 23px;
    background-repeat: no-repeat;
    background-color: unset;
}

.updatecard2 {
    height: 45px;
    padding-right: 20px;
    padding-left: 20px;
    /*padding-top: 13px;*/
    /*padding-bottom: 10px;*/
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    -moz-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
}

.sidenav-trigger:hover {
    background-image: unset;
    background-color: unset;
}

.update2 {
    width: 90%;
    margin-top: 18px;
}

.settings {
    font-size: 15px;
}

.usern {
    font-size: 13px;
}

.col.s9.rtl.userna {
    margin-top: 0;
}

p.status.font {
    position: fixed;
    margin-left: 15px;
    margin-top: 15px;
    background-color: #ff6c25;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 5px;
    color: white;
    font-size: 11px;
}

p.status1.font {
    position: fixed;
    margin-left: 15px;
    margin-top: 15px;
    background-color: #1fd83e;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 5px;
    color: white;
    font-size: 11px;
}

.gr-top-z-index.gr-top-zero {
    display: none;
}

.testti {
    padding-right: 14px !important;
}

.imageda2 {
    margin-top: 15px;
}

.input-field {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.slick-list {
    padding-bottom: 30px !important;
}

.termsc {
    -webkit-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    -moz-box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    box-shadow: 1px 2px 8px -3px rgba(119, 119, 119, 0.8);
    border-radius: 5px;
    direction: rtl;
    text-align: right;
    margin-top: 5%;
}

.termsp {
    direction: rtl;
    text-align: right !important;
    font-size: 14px;
    line-height: 30px;
}

.cara {
    border-radius: 10px;
    padding: 0 !important;
    height: auto;
}

img.imga {
    width: 100px !important;
    height: 100px !important;
    object-fit: cover;
    border-radius: 50px !important;
    margin: auto;
    /*margin-top: 31px;*/
}

div#suppo {
    width: 80% !important;
    margin-top: 5%

}

.oname {
    font-size: 18px;
    margin-top: 0;
}

.otext {
    font-size: 14px;
}

img.svg {
    width: 40px;
    margin-top: 20px;
    -webkit-box-shadow: 1px 2px 15px -3px rgba(119, 119, 119, 0.8);
    -moz-box-shadow: 1px 2px 15px -3px rgba(119, 119, 119, 0.8);
    box-shadow: 1px 2px 15px -3px rgba(119, 119, 119, 0.8);
    border-radius: 20px;
}

.card.small {
    -webkit-box-shadow: 1px 2px 15px -3px rgba(119, 119, 119, 0.8);
    -moz-box-shadow: 1px 2px 15px -3px rgba(119, 119, 119, 0.8);
    box-shadow: 1px 2px 15px -3px rgba(119, 119, 119, 0.8);
}

img.bg {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 90%;
    margin: 0;
}

.col.s4 {
    padding: 0;
}

.card.small .card-image + .card-content, .card.medium .card-image + .card-content, .card.large .card-image + .card-content {
    max-height: 100% !important;
    padding: 0;
}

img.title {
    width: 150px;
    margin-bottom: 20px;
}

.socialm {
    width: 70%;
    margin: auto;
}

.bg1im {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    width: 50%;
}

.bg2im {
    position: absolute;
    right: 0;
    bottom: -80%;
    z-index: -10;
    width: 50%;
}

.card-list {
    margin-bottom: 15px;
}

.card-top {
    padding-top: 18px;
}

.li-left-divider {
    height: 45px;
    border-left: 1px solid #e6e6e6;
    margin-left: 10px !important;
}

.li-right-divider {
    border-right: 1px solid #e6e6e6;
    height: 100%;
    padding-right: 35px !important;
}

.li-right-divider > .select-wrapper {
    right: 10px;
    top: 12px;
}

@media (min-width: 993px) and (max-width: 1500px) {

    .l10.filter-box-list {
        width: 75% !important;
    }

    .l1.filter-box-list {
        width: 13.666667% !important;
    }
}


ol>ul>li {
    margin-right: 52px;
    list-style-type: initial !important;
}

ol>ul{
    margin-top:15px;
    margin-bottom:15px;
}