.top-card-image {
    /*bottom:58px;*/
    overflow: visible !important;
}

.top-margin-divider {
    margin-top: 15px;
}

.card.small .card-image + .card-content, .card.medium .card-image + .card-content, .card.large .card-image + .card-content {
    padding-bottom: 10px;
}

a.unclick {
    color: inherit;
}

.number-input {
    top: 17px !important;
}

label.number-input:not([disabled]) {
    color: #F48FB1;
}

.filter-button {
    width: 100px;
    height: 100px !important;
    position: absolute;
    left: 0px;
}

span.lever {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.var-height {
    height: 100px;
}

.display-in-m {
    display: none;
}

@media (max-width: 1200px) {
    /*.switch-absolute {*/
    /*position: absolute;*/
    /*left: 22px;*/
    /*}*/
}

@media (max-width: 992px) {
    .li-left-divider-m-less {
        height: 45px;
        border-left: 1px solid #e6e6e6;
        margin-left: 10px !important;
    }

    .full-width-in-m-s {
        width: 100%;
        height: 40px !important;
        bottom: 0;
    }
}

@media (min-width: 993px) {
    .quarter-size-l {
        width: 25%;
    }

    .insurance-in-md {
        border-left: unset;
    }
}

/*just medium size*/
@media (max-width: 992px )and (min-width: 601px) {
    .display-in-m {
        display: block;
    }

    .not-display-in-m {
        display: none;
    }

    .var-height, .rtla {
        height: 254px;
    }
}

@media (min-width: 601px) {

    .fix-menu {
        position: fixed;
        z-index: 10;
        width: 175px !important;
        /*right: 410px !important;*/
        top: -10px;
    }
}

.fix-bottom-menu {
    position: relative;
    top: 739px;
    right: -2px !important;
}

/*just small size*/
@media (max-width: 600px ) {

    .var-height, .rtla {
        height: 395px;
    }

    .just-bottom-border-in-s {
        border-left: 0px;
        /*border-bottom: 1px solid #e6e6e6;*/
        margin-bottom: 15px;
    }

    .fix-menu {
        width: 100% !important;
    }
}

.detail-title {
    height: 100px;
}

.marg-bottom {
    margin-bottom: 30px;
}

.detail-text {
    font-size: 15px;
    color: grey;
    line-height: 22px;
}

.detail-createtest {
    margin: auto;
    width: 350px;
    margin-top: 2%;
}

div.detail-modal {
    width: 370px;
    border-radius: 5px;
}

.has-grade {
    /*position: relative;*/
}

input[type=range][disabled=disabled]::-webkit-slider-thumb {
    background-color: #c2c0c2;
}

input[type=range][disabled=disabled]::-moz-range-thumb {
    background-color: #c2c0c2;
}

input[type=range][disabled=disabled]::-ms-thumb {
    background-color: #c2c0c2;
}

.update-ad {
    width: 525px;
}

button.mine {
    width: 115px;
}

span.mine {
    font-size: 15px;
    position: relative;
    bottom: 4px;
}

.break-word {
    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for WebKit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.second-menu {
    margin-top: 2%;
}

.lista.active {
    background-image: url(../assets/active.png);
    background-size: 100% 3px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-color: unset;
    color: #313131;
}

li.tab.col.s6.center {
    margin-top: 15px;
}

@media (max-width: 992px) {
    .second-menu {
        height: unset;
    }

    .col.m12.l1.filter-box-list.li-right-divider {
        border-right: unset;
        height: unset;
    }
}

.dropdown-content li > a, .dropdown-content li > span {

    color: #AD1457;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #AD1457;
    -webkit-box-shadow: 0 1px 0 0 #AD1457;
    box-shadow: 0 1px 0 0 #AD1457;
}

input[type=range] + .thumb {

    background-color: #AD1457;

}

input[type=range] + .thumb .value {
    color: #AD1457;
}

.middle-width {
    width: 66%;
    margin: 0px auto;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #ad1457;
}

[type="checkbox"]:checked + span:not(.lever):before {
    border-right: 2px solid #ad1457;
    border-bottom: 2px solid #ad1457;
}

.urgent {
    border: 2px solid #630c32;
    -webkit-box-shadow: 1px 2px 15px -3px rgb(173, 20, 87) !important;
    -moz-box-shadow: 1px 2px 15px -3px rgb(173, 20, 87) !important;
    box-shadow: 1px 2px 15px -3px rgb(173, 20, 87) !important;
}

.urgent-button {
    background-color: #630c32 !important;
    color: white !important;
}

.urgent-button:hover {
    background-color: rgb(173, 20, 87) !important;
}

.middle-row {
    width: 75%;
    margin: 0 auto !important;
}

.card-medium {
    height: 400px !important;
}

.imageDashboard {
    width: 55px;
    height: 55px;
    margin: auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 60px;
    border-color: #8D0641;
}

@media (max-width: 992px) and (min-width: 601px) {
    .eng-height {
        height: 195px !important;
    }
}

.card-action {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: #8D0641 !important;
    bottom: unset !important;
}

.card-image.card-top.header-list-image {
    padding-bottom: 45px;
    top: 40px;
}

.sale-header-title {
    color: whitesmoke;
    font-size: 17px;
}

img.image-header-icon {
    width: 20px;
    margin-right: 14px;
    position: relative;
    top: 5px;
}

.ad-cara {
    height: 457px !important;
}

.pad-top{
    padding-top: 25px;
}

.pad-top10{
    padding-top: 10px;
}

.mine-card{
height: 372px !important;
}