{% extends 'authenticated.html' %}
{% load static %}

{% block title %}ثبتیکا|تایید شماره تلفن{% endblock %}
{% block content %}
    <main>


        <div class="row login1">
            <div class="col s12">
                <div class="card-panel white">

                    <h5 class="center">تایید شماره تلفن</h5>
                    <p class="center">کد ارسالی به شماره موبایل خود را وارد کنید</p>
                    <form class="form" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="id_confirmation_code" name="id_confirmation_code" type="text"
                                       class="validate" pattern="^\d{6}$" title="کد تایید شامل 6 رقم میباشد.">
                                <label for="id_confirmation_code">کد تایید</label>
                                <span class="helper-text" data-error="غلطه" data-success="حله"></span>
                            </div>
                        </div>
                        <button class="waves-effect waves-light btn" type="submit" name="button">ارسال</button>
                    </form>
                </div>
                <a href="{% url 'sms:resend' %}" class="right">ارسال دوباره کد</a>
            </div>
        </div>

    </main>


{% endblock %}



{% block my_footer_script %}
    <script type="text/javascript" src="{% static 'js/profileimage.js' %}"></script>

{% endblock %}
