{% extends 'authenticated.html' %}
{% load static %}

{% block title %}داشبورد{% endblock %}
{% block content %}

    <main>

        <div class="container">

            <div class="row userD">

                <div class="col s12">
                    {% if not user.is_verified %}
                        <div class="card emailerror2">

                            <p class="emailp"> شما ایمیل خود را تایید نکردید. <a href="{% url 'emails:resend_email' %}">ارسال
                                مجدد</a></p>


                        </div>
                    {% endif %}
                    {% if not user.is_phone_number_verified %}
                        <div class="card emailerror2">

                            <p class="emailp"> شما موبایل خود را تایید نکردید. <a
                                    href="{% url 'users:confirm_phone_number' %}">تایید شماره موبایل
                            </a></p>


                        </div>
                    {% endif %}
                </div>


                <div class="col s12 m6 l6">
                    <div class="card small card-medium">
                        <div class="card-content">
                            <div class="row middle-row">
                                <div class="col s4">
                                    <div class="card-image imageDashboard imageda2">
                                        <a href="/users/profile/">
                                            <img {% if  user.profile_picture %}
                                                src="{% get_media_prefix %}{{ user.profile_picture }}"
                                            {% else %}
                                                src='{% static "assets/default.png" %}'
                                            {% endif %}>
                                        </a>
                                    </div>
                                </div>

                                <div class="col s8 vertical-al" style="margin-top: 20px;">
                                    <h6 id="wallet" class="right">{{ user.wallet.amount }} <span>اطلاعات تماس شما</span>
                                    </h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s4">
                                    <p id="wtext" class="center right">:موبایل</p>
                                </div>
                                <div class="col s8">
                                    {{ user.phone_number }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s4">
                                    <p id="wtext" class="center right">:ایمیل</p>
                                </div>
                                <div class="col s8">
                                    {{ user.email }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s4">
                                    <p id="wtext" class="center right">:تلگرام</p>
                                </div>
                                <div class="col s8">
                                    {% if user.telegram %}
                                        <a href="https://t.me/{{ user.telegram }}"
                                           target="_blank">{{ user.telegram }}</a>
                                    {% else %}
                                        وارد نشده
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s4">
                                    <p id="wtext" class="center right">:اینستاگرام</p>
                                </div>
                                <div class="col s8">
                                    {% if user.instagram %}
                                        <a href="https://instagram.com/{{ user.instagram }}"
                                           target="_blank">@{{ user.instagram }}</a>
                                    {% else %}
                                        وارد نشده
                                    {% endif %}
                                </div>
                            </div>


                            <a class="waves-effect waves-light btn-small request center modal-trigger"
                               href="{% url 'users:profile' %}" style="width: 40%;">ویرایش</a>

                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l6">
                    <div class="card small card-medium">
                        <div class="card-content">
                            <div class="row middle-row">
                                <div class="col s12 vertical-al" style="margin-top: 20px;margin-bottom: 20px;">
                                    <h6 id="wallet" class="center">{{ user.wallet.amount }} <span>اطلاعات آگهی های شما</span>
                                    </h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s4">
                                    <p id="wtext" class="center ">:آگهی شرکت</p>
                                </div>
                                <div class="col s8">
                                    {{ user_ads }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s4">
                                    <p id="wtext" class="center ">:آگهی تامین مهندس</p>
                                </div>
                                <div class="col s8">
                                    {{ user_en_ads }}
                                </div>
                            </div>


                            <a class="waves-effect waves-light btn-small request center modal-trigger"
                               href="{% url 'advertises:my_list' %}" style="width: 40%;margin-top: 111px;">مشاهده</a>

                        </div>
                    </div>
                </div>

    </main>

    <div class="hide">
        {{ request.path }}
    </div>


{% endblock %}
