{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>

        <div class="row login1">
            <div class="col s12">
                <div class="card-panel white">
                    <h5 class="center">ورود</h5>
                    <p class="center">برای ورود آدرس ایمیل و رمز عبور خود را وارد کنید.</p>
                    <form class="form" method="post">
                        {% csrf_token %}

                        <div class="row">
                            <div class="input-field col s12">
                                {#                                <input id="email" type="email" class="validate">#}
                                <label for="id_email">ایمیل</label>
                                {{ form.email }}

                                {% if form.email.errors %}
                                    <span class="helper-text" data-error="{{ form.email.errors.as_text }}"
                                          data-success="حله!"></span>
                                {% else %}
                                    <span class="helper-text" data-error="ایمیل غلطه" data-success="حله!"></span>
                                {% endif %}


                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <label for="id_password">پسورد</label>

                                {{ form.password }}
                                {% if form.password.errors %}
                                    <span class="helper-text" data-error="{{ form.password.errors.as_text }}"
                                          data-success="حله!"></span>
                                {% else %}
                                    <span class="helper-text" data-error="پسورد شامل عدد و حروفه از 4 تا 24 حرف"
                                          data-success="حله!"></span>
                                {% endif %}

                            </div>
                        </div>
                        <button class="waves-effect waves-light btn font" type="submit" name="button">ورود</button>
                    </form>
                </div>
            </div>
            <div class="center"><a href="{% url 'users:forgot_password' %}">رمز عبور رو فراموش کردی؟</a></div>
        </div>

    </main>


{% endblock %}
