{% extends 'authenticated.html' %}
{% load static %}

{% block title %}داشبورد{% endblock %}
{% block content %}

    <main>

        <div class="container">

            <div class="row userD">

                <div class="col s12">
                    {% if not user.is_verified %}
                        <div class="card emailerror">

                            <p class="emailp"> شما ایمیل خود را تایید نکردید. <a href="{% url 'emails:resend_email' %}">ارسال
                                مجدد</a></p>


                        </div>
                    {% endif %}
                </div>


                <div class="col s12 m6 l4">
                    <div class="card small">
                        <div class="card-content">
                            <h5 id="wallet" class="center">{{ user.wallet.amount }} <span>تومان</span></h5>
                            <p id="wtext" class="center">موجودی حساب شما</p>

                            <a class="waves-effect waves-light btn-small request center modal-trigger" href="#modal3">تسویه
                                حساب</a>
                            <a class="waves-effect waves-light btn-small pro center modal-trigger" href="#modal2">ارتقاء
                                سطح</a>

                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card small">
                        <div class="card-image banklogo">
                            <img src="assets/credit-card.png">
                        </div>
                        <div class="card-content bankcontent">
                            <p id="wtext" class="center"> IR1322435467867654354235465767 </p>
                            <p id="wtext" class="center"> 1234-1234-1234-1234 </p>
                            <a class="waves-effect waves-light btn-small pro center modal-trigger" href="#modal1"> حساب
                                بانکی </a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card small">
                        <div class="card-image imageDa">
                            <img src="assets/place.png">
                        </div>
                        <div class="card-content">
                            <h5 id="wallet" class="center">۵</h5>
                            <p id="wtext" class="center">تست انجام شده</p>
                        </div>
                    </div>
                </div>


                <!-- Modal Structure for bank account -->
                <div id="modal1" class="modal modal-fixed-footer">
                    <form class="form" action="#" method="post">
                        <div class="modal-content">
                            <h6 class="center"> ثبت حساب بانکی </h6>
                            <div class="row">
                                <div class="input-field col s12 marg">
                                    <input id="shaba" type="text" class="validate">
                                    <label for="shaba"> شماره شبا </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 marg1">
                                    <input id="cardnumber" type="text" class="validate">
                                    <label for="cardnumber"> شماره کارت </label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="waves-effect waves-light btn-small center modalbtn" type="submit"
                                    name="button"> ثبت مشخصات
                            </button>
                            <button class="waves-effect waves-light btn-small center modalbtn1" type="submit"
                                    name="button"> لغو
                            </button>
                        </div>
                    </form>
                </div>


                <!-- Modal Structure for pro -->
                <div id="modal2" class="modal">
                    <div class="modal-content">
                        <h6 class="center"> ارتقاء حساب </h6>
                        <p class="vije">


                            در سایت کدومه، شما به عنوان کاربر عادی فقط می‌توانید در پاسخگویی به ۲۰ تست شرکت کنید. برای
                            اینکه حساب کاربری شما
                            ارتقاء یابد و بتوانید به صورت نامحدود در تست‌ها شرکت کنید و درآمد کسب کنید، باید اشتراک ویژه
                            خریداری کنید.


                        </p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="waves-effect waves-light btn-small center modalbtn"> خرید اشتراک </a>
                    </div>
                </div>


                <!-- Modal Structure for tasviehHesab -->
                <div id="modal3" class="modal">
                    <form class="form" action="#" method="post">
                        <div class="modal-content">
                            <h5 id="wallet" class="center moj">۲۰۰ تومان</h5>
                            <p id="wtext" class="center">موجودی حساب شما</p>
                            <div class="row">
                                <div class="input-field col s12 marg">
                                    <input id="num" type="text" class="validate">
                                    <label for="num"> مبلغ برداشت </label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="waves-effect waves-light btn-small center modalbtn"> ارسال درخواست </a>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </main>




{% endblock %}