{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>

        <div class="container">
            <div class="row login1">
                <div class="col s12 center">

                    <div class="card-panel white" style="text-align: right">
                        لینک ریست پورد به ایمیل شما ارسال شد. اگر ایمیل به دستتون نرسید، مطمئن بشید که ایمیل رو درست
                        وارد کردید.
                    </div>
                    <a class="center" href="{% url 'users:login' %}">بازگشت</a>
                </div>
            </div>
        </div>
    </main>


{% endblock %}
