{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>


        <div class="row login1">
            <div class="col s12">
                <div class="card-panel white">

                    <h5 class="center">رمز عبور جدید</h5>
                    <p class="center">رمز عبور جدید را وارد کنید.</p>
                    <form class="form"  method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="id_new_password1">رمز عبور</label>
                                <input id="id_new_password1" name="new_password1" type="password" class="validate">
                                <span class="helper-text" data-error="اشتباه" data-success="حله!"></span>
                            </div>
                        </div>


                        <div class="row">
                            <div class="input-field col s12">
                                <label for="id_new_password2">تکرار رمز عبور</label>
                                <input id="id_new_password2" name="new_password2" type="password" class="validate">
                                <span class="helper-text" data-error="اشتباه" data-success="حله!"></span>
                            </div>
                        </div>
                        <button class="waves-effect waves-light btn" type="submit" name="button">تایید</button>
                    </form>
                </div>
            </div>
        </div>

    </main>


{% endblock %}
{% block my_footer_script %}
{% if form.new_password2.errors %}
                {% for message in form.new_password2.errors%}
                    <script type="text/javascript">

                        M.toast({html: 'تکرار رمز عبور: {{ message }}', displayLength: 5000});

                    </script>


                {% endfor %}
            {% endif %}

    {% if form.new_password1.errors %}
                {% for message in form.new_password1.errors%}
                    <script type="text/javascript">

                        M.toast({html: 'رمز عبور: {{ message }}', displayLength: 5000});

                    </script>


                {% endfor %}
            {% endif %}
{% endblock %}