{% extends 'authenticated.html' %}
{% load static %}

{% block title %}پروفایل{% endblock %}
{% block content %}
    <main>


        <div class="row login1">
            <div class="col s12">
                <div class="card-panel white">


                    <form class="form" method="post" enctype="multipart/form-data">

                        <div class="center">
                            <div id='profile-image' class="center"
                                 style="background-image: url('{% get_media_prefix %}{{ object.profile_picture }}')">
                                <div class="hvr-profile-img">
                                    <input type="file" name="profile_picture" id='profile_picture' class="upload w180"
                                           title="Dimensions 180 X 180" id="imag"/>
                                </div>
                            </div>
                        </div>


                        <p class="center font">آپلود عکس جدید</p>


                        {% csrf_token %}


                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="نام خود را وارد کنید" id="first_name"
                                       name="first_name" type="text" class="validate font"
                                       value="{% if object.first_name != None %}
                                       {{ object.first_name }}
                                       {% endif %}">
                                <label for="first_name" class="font"> نام </label>
                            </div>

                            <div class="input-field col s12">
                                <input placeholder="09*********" id="phone_number"
                                       name="phone_number" type="text" class="validate font"
                                       value="{% if object.phone_number != None %}{{ object.phone_number }}{% endif %}"
                                       style="direction: ltr;
    text-align: right;">
                                <label for="phone_number" class="font"> موبایل </label>
                            </div>


                            <div class="input-field col s12">
                                <div class="row">
                                    <div class="col s6">                                        <label for="instagram" class="font"> اینستاگرام </label>

                                        <input placeholder="اینستاگرام" id="instagram"
                                           name="instagram" type="text" class="validate font"
                                           value="{% if object.instagram != None %}{{ object.instagram }}{% endif %}"
                                           pattern="^((?!http|https|t.me|http:\/\/|https:\/\/|instagram|.com|instagram.com|telegram.me).)*$"
                                           title="فقط آی دی بدون آدرس اینستاگرام و http" style="text-align: left">
                                    </div>
                                    <div class="col s6 center" style="direction: ltr;margin-top: 40px;font-size: 17px;color: #949494;"><span>instagram.com/</span></div>
                                </div>

                            </div>

                            <div class="input-field col s12">
                            <div class="row">

                                <div class="col s6"><label for="telegram" class="font"> تلگرام </label><input placeholder="تلگرام " id="telegram"
                                       name="telegram" type="text" class="validate font"
                                       value="{% if object.telegram != None %}{{ object.telegram }}{% endif %}"
                                       pattern="^((?!http|https|t.me|http:\/\/|https:\/\/|instagram|.com|instagram.com|telegram.me).)*$"
                                       title="فقط آی دی بدون آدرس تلگرام و http" style="text-align: left">
                                </div>
                                <div class="col s6 center" style="direction: ltr;margin-top: 40px;font-size: 17px;color: #949494;">
                                    <span>telegram.me/</span>
                                </div>
                            </div>


                            </div>

                            <div class="col s6 right">
                                <button class="waves-effect waves-light btn setbtn font btntest" type="submit"
                                        name="button" id="submit">ثبت
                                    تغییرات
                                </button>

                            </div>
                            <div class="col s6 left">
                                <button onclick="window.location.href='{% url 'advertises:list' %}'"
                                        class="waves-effect waves-light btn setbtn font btncan" type="button"
                                        name="button">
                                    لغو
                                </button>

                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>


        <p id="fp" class="hide"></p>
        <script>
            $(document).ready(function () {
                $('#profile_picture').change(function () {
                    if (this.files.length > 0) {
                        $.each(this.files, function (index, value) {
                            $('#fp').html($('#fp').html() +
                                Math.round((value.size / 1024)));

                            if ($('#fp').html() >= 1000) {
                                M.toast({html: 'سایز عکس بیشتر از ۱ مگ است', displayLength: 5000});
                                $("#submit").prop("disabled", true);
                            } else {
                                $("#submit").prop("disabled", false);
                            }
                            $('#fp').html(' ');
                        })
                    }

                });
            });
        </script>


    </main>

{% endblock %}



{% block my_footer_script %}
    <script type="text/javascript" src="{% static 'js/profileimage.js' %}"></script>

{% endblock %}
