{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>


        <div class="row login1">
            <div class="col s12">
                <div class="card-panel white">

                    <h5 class="center">فراموشی رمز عبور</h5>
                    <p class="center">آدرس ایمیل خود را وارد کنید.</p>
                    <form class="form"  method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="id_email" name="email" type="email" class="validate">
                                <label for="id_email">ایمیل</label>
                                <span class="helper-text" data-error="wrong" data-success="right"></span>
                            </div>
                        </div>
                        <button class="waves-effect waves-light btn" type="submit" name="button">تایید</button>
                    </form>
                </div>
            </div>
        </div>

    </main>


{% endblock %}
