{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>

        <div class="row login1">
            <div class="col s12">
                <div class="card-panel white">
                    {{ field.errors }}
                    {{ form.non_field_errors }}

                    <h5 class="center">ثبت نام</h5>
                    <p class="center">برای ثبت نام آدرس ایمیل و رمز عبور انتخابی خود را وارد کنید.</p>
                    <form class="form" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="id_email">ایمیل</label>
                                {{ form.email }}

                                {% if form.email.errors %}
                                    <span class="helper-text" data-error="{{ form.email.errors.as_text }}"
                                          data-success="حله!"></span>
                                {% else %}
                                    <span class="helper-text" data-error="ایمیل غلطه" data-success="حله!"></span>
                                {% endif %}


                            </div>
                        </div>


                        <div class="row">
                            <div class="input-field col s12">
                                <label for="id_phone_number">موبایل</label>
                                {{ form.phone_number }}

                                {% if form.phone_number.errors %}
                                    <span class="helper-text" data-error="{{ form.phone_number.errors.as_text }}"
                                          data-success="حله!"></span>
                                {% else %}
                                    <span class="helper-text" data-error="شماره موبایل غلطه" data-success="حله!"></span>
                                {% endif %}


                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <label for="id_password">پسورد</label>

                                {{ form.password }}
                                <span class="helper-text" data-error="پسورد شامل عدد و حروفه از 4 تا 24 حرف"
                                      data-success="حله!"></span>
                            </div>
                        </div>
                        <div class="row">
                            <p>
                                <label>
                                    {{ form.privacy }}
                                    <span>با <a
                                            href="{% url 'publics:privacy_policy' %}">قوانین و مقررات</a> موافقم</span>
                                </label>
                            </p>
                        </div>
                        <button class="waves-effect waves-light btn font" type="submit" name="button">ثبت نام</button>
                    </form>
                </div>
            </div>
        </div>

    </main>


{% endblock %}
