{% extends 'authenticated.html' %}
{% load static %}

{% block header %}

{% endblock %}
{% block content %}



    <main style="background: white">

        <div class="container">
            <div class="row">
                 <div class="col s12">
                    <div class=" center">
                        <img class="p404" src="{% static 'assets/404.png' %}" alt="">
                    </div>
                    <div class="center fonta">
                        <p class="center"> صفحه مورد نظر شما یافت نشد </p>
                    </div>
                    <div class="center">
                        <a class="waves-effect waves-light btn b404" href="{% url 'users:dashboard' %}"> بازگشت </a>
                    </div>


                </div>
            </div>
        </div>


    </main>


{% endblock %}



