{% extends 'base.html' %}

{% load static %}



{% block messages %}

    {{ block.super }}

{% endblock %}

{% block form_errors %}

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}


                <div class="col s12">
                    <div class="card emailerror">

                        <p class="emailp">                    {{ field.name }}:{{ error|escape }}</p>


                    </div>
                </div>

            {% endfor %}
        {% endfor %}

    {% endif %}

{% endblock %}




{% block footer_menu %}

{% endblock %}

