{% extends 'authenticated.html' %}
{% load static %}
{% block my_scripts %}
    <script src="{% static 'js/user_tests/create.js' %}"></script>

{% endblock %}
{% block content %}

    <main>


        <div class="row createtest">
            <div class="col s12">
                <div class="card-panel white">


                    <form class="form" method="post" enctype="multipart/form-data">
                        <h5 class="center"> ایجاد آگهی شرکت ها </h5>

                        <div class="row">
                            <div class="center">
                                <div id='profile-image' class="center"
                                     style="background-image: url('
                                             {% get_media_prefix %}{{ object.profile_picture }}')">
                                    <div class="hvr-profile-img">
                                        <input type="file" name="company_pic" id='profile_picture'
                                               class="upload w180"
                                               title="Dimensions 180 X 180" id="imag"/>
                                    </div>
                                </div>
                            </div>
                            <p class="center font">لوگوی شرکت</p>

                        </div>

                        <div class="row">
                            <div class="input-field col s12 left">

                                <label for="id_company_name" class=""> نام شرکت </label>
                                {{ form.company_name }}

                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 left">

                                <label for="id_price" class="">قیمت</label>
                                {{ form.price }}
                            </div>
                        </div>
                        <div class="row">

                            <div class="input-field col s12 center">
                                {{ form.register_location }}

                            </div>
                        </div>
                        <div class="row">

                            <div class="input-field col s12 center">
                                {{ form.type }}

                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6 right">
                                سال تاسیس:
                            </div>
                            <div class="col s6 ">
                                <span class="numbers questions_number left"></span>
                            </div>
                            <p class="range-field">

                                {{ form.register_year }}

                            </p>
                        </div>
                        <div class="row" style="margin-top: 16px;">
                            <div class="col s4 right">
                                گرید:
                            </div>
                            <div class="col s4 switch switch-absolute center">
                                <label>
                                    ندارد
                                    {{ form.has_grade }}
                                    <span class="lever"></span>
                                    دارد
                                </label>
                            </div>
                            <div class="col s4" id="show-grade" style="visibility: hidden">
                                <span class="numbers users_number left"></span>
                            </div>


                        </div>
                        <div class="row">
                            <p class="range-field">
                                {{ form.grade }}
                            </p>
                        </div>
                        <div class="row">
                            <div class="input-field col s4 center valign-wrapper">
                                کد اقتصادی:
                            </div>
                            <div class="input-field col s4 center">
                                <div class="switch switch-absolute">
                                    <label>
                                        ندارد
                                        {{ form.financial_code }}
                                        <span class="lever"></span>
                                        دارد
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 left">
                                {{ form.description }}

                                <label for="id_description" class=""> توضیحات </label>

                            </div>
                        </div>
                        <div class="row">

                            <div class="input-field col s12 center">
                                {{ form.advertise_type }}

                            </div>
                        </div>

                        <div class="row">
                            <p>
                                <label>
                                    {{ form.accuracy }}
                                    <span>صحت اطلاعات نوشته شده را تایید میکنم.</span>
                                </label>
                            </p>
                        </div>


                        {% csrf_token %}

                        <button class="waves-effect waves-light btn createbtn font" type="submit" name="button">
                            ارسال
                        </button>


                    </form>
                </div>
            </div>
        </div>

    </main>


{% endblock %}
{% block my_footer_script %}
    <script type="text/javascript">var arr = ["id_company_name"]</script>
    <script type="text/javascript" src="{% static 'js/persian.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/convert-to-persian-letter.js' %}"></script>


    <script type="text/javascript" src="{% static 'js/advertises/create-form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/profileimage.js' %}"></script>
    <script>
        $("select[required]").css({display: "block", height: 0, padding: 0, width: 0, position: 'absolute'});


    </script>

{% endblock %}