{% extends 'authenticated.html' %}
{% load static %}
{% block my_scripts %}

    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>

{% endblock %}
{% block content %}


    <main>


        <div class="container" id="suppo">
            <div class="row rtla second-menu" style="margin-bottom: -25px;">
                <div class="card updatecard2">
                    <ul class="tab">
                        <li class="tab col s6 center"><a class="lista active" href="{% url 'advertises:list' %}">شرکت
                            ها</a>
                        </li>
                        <li class="tab col s6 center"><a class="lista "
                                                         href="{% url 'engineer_advertises:list' %}">مهندسین</a>
                        </li>
                    </ul>
                </div>
            </div>

            <form method="get">
                <div class="row update rtla">
                    <div class="row card updatecard2 var-height">
                        <div class="col m12 l10 filter-box-list ">
                            <ul class="tab">
                                <li class="tab col m6 l3 s12 li-left-divider just-bottom-border-in-s"
                                    style="height: 45px;">
                                    <div class="input-field col s12" style="bottom: 17px;width: 95%">
                                        <select multiple name="company-type">
                                            <option value="" disabled selected>نوع شرکت</option>
                                            {% for type in company_types %}
                                                {% if not type.0 %}
                                                {% else %}
                                                    <option value="{{ type.0 }}">{{ type.1 }}</option>
                                                {% endif %}
                                            {% endfor %}

                                        </select>
                                    </div>
                                </li>
                                <li class="tab col m5 l3 display-in-m" style="height: 45px;">
                                    <div class="input-field col s12" style="bottom: 17px;width: 95%">
                                        <select multiple name="register_location">
                                            <o18ption value="" disabled selected>شهر</o18ption>
                                            {% for city in cities %}
                                                {% if not city.0 %}
                                                {% else %}
                                                    <option value="{{ city.0 }}">{{ city.1 }}</option>
                                                {% endif %}

                                            {% endfor %}

                                        </select>
                                    </div>
                                </li>
                                <li class="tab col m6 l5 s12 li-left-divider not-display-in-m just-bottom-border-in-s"
                                    style="height: 45px">
                                    <div class="col s2" style="margin-top: 15px;"> گرید:</div>
                                    <div class="col s4 right" style="margin-top: 15px;">
                                        <div class="switch">
                                            <label>
                                                ندارد
                                                <input type="checkbox" id="grade-checkbox" name="grade-checkbox">
                                                <span class="lever" id="grade-checkbox-span"></span>
                                                دارد
                                            </label>
                                        </div>
                                    </div>
                                    <div id="grade-from-to" style="position: relative;
    bottom: 18px;">
                                        <div class="input-field col s3" style="margin-left: 10px;">
                                            <label class="number-input" for="grade-from" disabled="disabled">از
                                                گرید</label>
                                            <input disabled id="grade-from" name="grade-from" type="number"
                                                   class="validate" min="1" max="5">

                                        </div>
                                        <div class="input-field col s3">
                                            <label class="number-input" for="grade-to" disabled="disabled">تا
                                                گرید</label>
                                            <input disabled id="grade-to" name="grade-to" type="number" class="validate"
                                                   min="1" max="5">
                                        </div>
                                    </div>

                                </li>
                                <li class="tab col m6 l5 display-in-m li-left-divider " style="height: 45px">
                                    <div class="col s2" style="margin-top: 15px;"> گرید:</div>
                                    <div class="col s4 right" style="margin-top: 15px;">
                                        <div class="switch">
                                            <label>
                                                ندارد
                                                <input type="checkbox" id="grade-checkbox-m" name="grade-checkbox">
                                                <span class="lever" id="grade-checkbox-span"></span>
                                                دارد
                                            </label>
                                        </div>
                                    </div>
                                    <div id="grade-from-to" style="position: relative;
    bottom: 18px;">
                                        <div class="input-field col s3" style="margin-left: 10px;">
                                            <label class="number-input" for="grade-from-m" disabled="disabled">از
                                                گرید</label>
                                            <input disabled id="grade-from-m" name="grade-from" type="number"
                                                   class="validate" min="1" max="5">

                                        </div>
                                        <div class="input-field col s3">
                                            <label class="number-input" for="grade-to-m" disabled="disabled">تا
                                                گرید</label>
                                            <input disabled id="grade-to-m" name="grade-to" type="number"
                                                   class="validate"
                                                   min="1" max="5">
                                        </div>
                                    </div>

                                </li>
                                <li class="tab col m5 l3 s12 quarter-size-l just-bottom-border-in-s"
                                    style="height: 45px;">
                                    <div class="col s6" style="margin-top: 15px;"> کد اقتصادی:</div>
                                    <div class="col s6 center" style="margin-top: 15px;">
                                        <div class="switch switch-absolute">
                                            <label>
                                                ندارد
                                                <input type="checkbox" name="financial-code-checkbox">
                                                <span class="lever"></span>
                                                دارد
                                            </label>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="tab">
                                <li class="tab col m6 l3 s12 li-left-divider not-display-in-m just-bottom-border-in-s"
                                    style="height: 45px;">
                                    <div class="input-field col s12" style="bottom: 17px;width: 95%">
                                        <select multiple name="register_location">
                                            <option value="" disabled selected>شهر</option>
                                            {% for city in cities %}
                                                {% if not city.0 %}
                                                {% else %}
                                                    <option value="{{ city.0 }}">{{ city.1 }}</option>
                                                {% endif %}
                                            {% endfor %}

                                        </select>
                                    </div>
                                </li>
                                <li class="tab col m6 l5 s12 li-left-divider just-bottom-border-in-s"
                                    style="height: 45px">
                                    <div class="col s6" style="margin-top: 15px;"> سال ثبت تاسیس:</div>

                                    <div id="grade-from-to" style="position: relative;
    bottom: 18px;">
                                        <div class="input-field col s3" style="margin-left: 10px;">
                                            <label class="number-input" for="year-from">از سال</label>
                                            <input id="year-from" name="year-from" type="number" class="validate"
                                                   min="1340" max="1398">

                                        </div>
                                        <div class="input-field col s3">
                                            <label class="number-input" for="year-to">تا سال</label>
                                            <input id="year-to" name="year-to" type="number" class="validate" min="1340"
                                                   max="1398">
                                        </div>
                                    </div>

                                </li>
                                <li class="tab col m5 l3 s12 just-bottom-border-in-s"
                                    style="height: 45px">
                                    <div class="col s6" style="margin-top: 24px;"> قیمت:</div>

                                    <div id="grade-from-to" style="position: relative;
    bottom: 18px;">
                                        <div class="input-field col s3" style="margin-left: 10px;">
                                            <label class="number-input" for="price-from">از</label>
                                            <input id="price-from" name="price-from" type="number" class="validate"
                                                   min="0">

                                        </div>
                                        <div class="input-field col s3">
                                            <label class="number-input" for="price-to">تا</label>
                                            <input id="price-to" name="price-to" type="number" class="validate" min="0"
                                            >
                                        </div>
                                    </div>

                                </li>
                                {#                                <li class="tab col m6 l3 s12 li-left-divider just-bottom-border-in-s"#}
                                {#                                    style="height: 45px;">#}
                                {#                                    <div class="input-field col s12" style="bottom: 17px;width: 95%">#}
                                {#                                        <select multiple name="company-type">#}
                                {#                                            <option value="" disabled selected>نوع شرکت</option>#}
                                {#                                            {% for type in company_types %}#}
                                {#                                                <option value="{{ type.0 }}">{{ type.1 }}</option>#}
                                {#                                            {% endfor %}#}
                                {##}
                                {#                                        </select>#}
                                {#                                    </div>#}
                                {#                                </li>#}
                                {#                                <li class="tab col l3 " style="height: 45px;width: 25%;">#}
                                {##}
                                {#                                </li>#}

                            </ul>
                        </div>
                        <div class="col m12 l1 filter-box-list li-right-divider">
                            <select name="advertise-type">
                                <option value="" disabled selected>نوع آگهی</option>
                                {% for type in advertise_type %}
                                    {% if not type.0 %}
                                    {% else %}
                                        <option value="{{ type.0 }}">{{ type.1 }}</option>
                                    {% endif %}

                                {% endfor %}

                            </select>
                        </div>
                        <div class="col m12 l1">
                            <button class="waves-effect waves-light btn createbtn font  filter-button full-width-in-m-s"
                                    type="submit"
                                    name="button" value="search"> جست و
                                جو
                            </button>
                        </div>

                    </div>
                </div>
            </form>
            {% if not object_list %}
                <div class="row">
                    <div class="col s12">
                        <div class=" center">
                            <img class="empty responsive-img" src="{% static 'assets/supp/empty-result.png' %}" alt="">
                        </div>

                    </div>
                </div>
            {% endif %}
            <div class="row testin infinite-container">

                {% for ad in object_list %}
                    <div class="infinite-item">

                        <div class="col s12 m6 l3 card-list">
                            <div class="card small cara ad-cara {% if ad.urgent == True %} urgent {% endif %}">

                                <div class="card-image card-top">

                                    {% if ad.company_pic %}
                                        <img class="imga" src="{% get_media_prefix %}{{ ad.company_pic }}">
                                    {% else %}
                                        <img class="imga" src="{% static 'assets/company.png' %}">
                                    {% endif %}

                                </div>
                                <div class="card-content">
                                    <div class="font2 otext center" style="color: #ad1457">
                                        <div class="row">
                                            <div class="col s2">&nbsp;</div>
                                            <div class="col s8">
                                                <img class="image-header-icon" src="{% if ad.advertise_type == '1' %}{% static 'assets/purchase.png' %}{% elif ad.advertise_type == '2' %}{% static 'assets/wanted.png' %}{% endif %}" alt="">
                                                <span class="ad-type">نوع آگهی: {{ ad.get_advertise_type_display }}</span>
                                            </div>
                                            <div class="col s2">&nbsp;</div>

                                        </div>


                                    </div>

                                    <h5 class="font2 oname center"
                                        style="margin-top: 1.01rem;">{{ ad.company_name }}</h5>
                                    <p class="font2 otext center">{{ ad.get_type_display }} </p>
                                    <div class="divider" style="margin-top: 1.01rem;"></div>
                                    <h6 class="font2 otext center">{{ ad.register_year }} :سال ثبت</h6>
                                    <h6 class="font2 otext center">کد اقتصادی:{% if ad.financial_code %}
                                        دارد
                                    {% else %}
                                        ندارد
                                    {% endif %}</h6>
                                    <h6 class="font2 otext center">گرید: {% if ad.grade %}
                                        {{ ad.grade }}
                                    {% else %}
                                        ندارد
                                    {% endif %}</h6>
                                    <h6 class="font2 otext center">قیمت: {{ ad.price }} تومان</h6>

                                    <div class="card-content" style="padding: unset; margin-top: 40px;">
                                        {% if ad.urgent == True %}

                                            <button style="width: 40%; "
                                                    onclick="window.location.href='{% url 'advertises:detail' pk=ad.id %}'"
                                                    class=" waves-effect waves-light btn setbtn font btncan urgent-button"
                                                    type="button"
                                                    name="button">فوری
                                            </button>
                                        {% else %}
                                            <button style="width: 40%;"
                                                    onclick="window.location.href='{% url 'advertises:detail' pk=ad.id %}'"
                                                    class="waves-effect waves-light btn setbtn font btncan"
                                                    type="button"
                                                    name="button">بیشتر
                                            </button>

                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>

        </div>

        <div class="container" style="text-align: center;">
            <img class="loading" style=" width: 75px;margin-top: 57px; display: none;"
                 src="{% static 'assets/gif/loading.gif' %}">
        </div>

        {% if page_obj.has_next %}
            <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
        {% endif %}


    </main>

{% endblock %}



{% block my_footer_script %}
    <script src="{% static 'js/infinit-scroll.js' %}"></script>

    <script>
        $(document).ready(function () {


            $("#grade-checkbox").change(function () {
                var status = $(this).prop('checked');
                if (status == true) {
                    {#                    $('#grade-from-to').show();#}
                    $('#grade-from').removeAttr('disabled');
                    $('#grade-to').removeAttr('disabled');

                    $('label.number-input').removeAttr('disabled');
                } else {
                    {#                    $('#grade-from-to').hide();#}
                    $('#grade-from').attr('disabled', 'disabled');
                    $('#grade-to').attr('disabled', 'disabled');
                    $('label.number-input').attr('disabled', 'disabled');

                }

            });

            $("#grade-checkbox-m").change(function () {
                var status = $(this).prop('checked');
                if (status == true) {
                    {#                    $('#grade-from-to').show();#}
                    $('#grade-from-m').removeAttr('disabled');
                    $('#grade-to-m').removeAttr('disabled');

                    $('label.number-input').removeAttr('disabled');
                } else {
                    {#                    $('#grade-from-to').hide();#}
                    $('#grade-from-m').attr('disabled', 'disabled');
                    $('#grade-to-m').attr('disabled', 'disabled');
                    $('label.number-input').attr('disabled', 'disabled');

                }

            });


        });
    </script>

    <script src="{% static 'js/advertises/remove-empty-fields.js' %}"></script>

{% endblock %}

