{% extends 'authenticated.html' %}
{% load static %}
{% block my_scripts %}

    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
    <script src="{% static 'js/nouislider.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/nouislider.css' %}">


{% endblock %}
{% block content %}
    <form action="" method="get">

        <select name="one" id="one1">
            <option value="a">aa</option>
            <option value="b">bb</option>
        </select>
        <input type="submit" value="asdasd" name="asd">
    </form>
{% endblock %}



{% block my_footer_script %}


{% endblock %}
