{% extends 'authenticated.html' %}
{% load static %}


{% block content %}
    <main>

        <div class="container">

            <div class="row userD">
                <div class="col s8">
                    <div class="card right">

                        <div class="card-content myTestsCo">
                            <div class="col s3 s3test">
                                <img src="{% if user.profile_picture %}
                                    {% get_media_prefix %}{{ user.profile_picture }}
                                    {% else %}
                                        {% static 'assets/default.png' %}
                                    {% endif %}
                                    " alt=""
                                     class="circle responsive-img">
                                <!-- notice the "circle" class -->
                            </div>
                            <div class="col s9 rtl">
                <span class="black-text">
                  {% if not user.first_name %}
                      نام خود را انتخاب کنید
                  {% else %}
                      {{ user.first_name }}
                  {% endif %}
                    <a class="settings"
                       href="{% url 'users:profile' pk=user.id %}"> &nbsp &nbsp &nbsp ویرایش پروفایل </a></span>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col s4 ltr">
                    <div class="card left">

                        <a class="waves-effect waves-light btn btntest" href="{% url 'advertises:create' %}"> ایجاد تست
                            + </a>
                    </div>


                </div>
            </div>
        </div>

        {% if object_list %}
            <div class="tests">
                {% for test in  object_list %}
                    <div class="card cardTest">
                        {% if test.invoice.payment == 1 %}

                            <a href="{% url 'advertises:statistic' pk=test.pk %}">
                        {% else %}
                            <a href="{% url 'advertises:update' pk=test.pk %}">

                        {% endif %}
                        <div class="card-image waves-effect waves-block waves-light">
                            {% if test.is_finished == 1 %}
                                <p class="status2 font"> تمام شده </p>
                            {% else %}
                                <p class="status font"> در حال انجام </p>
                            {% endif %}
                            {% if test.first_pic %}
                                <img class="activator" src="{% get_media_prefix %}{{ test.first_pic }}">
                            {% else %}
                                <img class="activator" src="{% static 'assets/a.jpg' %}">
                            {% endif %}
                        </div>

                        </a>


                        <div class="card-content row">
                            <div class="col s12 rtla">
                                <span class="black-text testti">
                                    {{ test.title }}
                                </span>
                            </div>
                            <div class="col s3">
                                {% if not test.user.profile_picture %}
                                    <img src="{% static 'assets/b.jpg' %}" alt="" class="circle responsive-img">
                                {% else %}
                                    <img src="{% get_media_prefix %}{{ test.user.profile_picture }}" alt=""
                                         class="circle responsive-img">
                                {% endif %}
                                <!-- notice the "circle" class -->
                            </div>
                            <div class="col s9 rtl userna">
                                <a href="{% url 'advertises:update' pk=test.pk %}">
                              <span class="black-text usern">
                                  {{ test.user.first_name }}
                              </span>
                                </a>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>

        {% else %}
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <div class=" center">
                            <img class="empty" src="{% static 'assets/notest.png' %}" alt="">
                        </div>
                        <div class="center fonta">
                            <p class="center"> در حال حاضر تست برای انجام نیست </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </main>

{% endblock %}
