{% extends 'authenticated.html' %}
{% load static %}


{% block content %}
  <main>


  <div class="row update rtla">
  <div class="card updatecard">
    <table>
    <thead>
      <tr>
          <th> سوال  </th>
          <th>   عکس اول  </th>
          <th>   تعداد انتخاب  </th>
          <th>   عکس دوم  </th>
          <th>   تعداد انتخاب  </th>
          <th>    </th>
      </tr>
    </thead>

    <tbody>
{% for q in  question_list%}
      <tr>
        <td style="width: unset">سوال {{ q.question_number }}</td>

        <td style="width: unset"><img src="{% get_media_prefix %}{{ q.first_pic }}" alt="" class="imgupdate"></td>
        <td style="width: unset">{{ q.count_of_first_pic }}</td>

        <td style="width: unset"><img src="{% get_media_prefix %}{{ q.second_pic }}" alt="" class="imgupdate"></td>
        <td style="width: unset">{{ q.count_of_second_pic }}</td>

        <td style="width: unset"><img src="{% static 'assets/detail.png' %}" alt="" class="iconUpdate"></td>
      </tr>
{% endfor %}

    </tbody>
  </table>
  </div>


  </div>


    </main>

{% endblock %}
