{% extends 'authenticated.html' %}
{% load static %}
{% block my_scripts %}
    <script src="{% static 'js/advertises/create.js' %}"></script>

{% endblock %}
{% block content %}

    <main>


        <div class="row createtest">
            <div class="col s12">
                <div class="card-panel white" style="padding-bottom: 58px">


                    <form class="form" method="post">
                        <h5 class="center"> ویرایش تست </h5>

                        {##}
                        {#                        <div class="row card-content newtestc">#}
                        {#                            <div class="col s3 s3test">#}
                        {#                                <img src="assets/b.jpg" alt="" class="circle responsive-img">#}
                        {#                                <!-- notice the "circle" class -->#}
                        {#                            </div>#}
                        {#                            <div class="col s9 rtl">#}
                        {#                      <span class="black-text">#}
                        {#                        تست حسن قلی#}
                        {#                        <a href="settings.html">تنظیمات </a></span>#}
                        {#                            </div>#}
                        {#                        </div>#}


                        <div class="row">
                            <div class="input-field col s12 left">
                                {#                                <input id="email" type="email" class="validate">#}
                                <label for="email">عنوان</label>
                                {{ form.title }}

                                <span class="helper-text" data-error="عنوان غلطه" data-success="حله!"></span>

                            </div>
                        </div>
                        <br>
                        <br>
                        {% csrf_token %}

                        <div class="col s6 right">
                            تعداد تست‌ها
                        </div>
                        <div class="col s6 left numbers questions_number">
                        </div>
                        <div>
                            <p class="range-field">
                                {#                                <input type="range" id="testslide" min="1" max="10" step="1"/>#}
                                {{ form.questions_number }}

                            </p>
                        </div>


                        <div class="col s6 right">
                            تعداد کاربران
                        </div>
                        <div class="col s6 left numbers users_number">
                        </div>
                        <div>
                            <p class="range-field">
                                {{ form.users_number }}
                            </p>
                        </div>

                        <div class="col s6 right">
                            <button class="waves-effect waves-light btn createbtn font" type="submit" name="button">به روز رسانی</button>
                        </div>

                        <div class="col s6 left">
                            <button onclick="window.location.href='{% url 'advertises:questions_edit' pk=object.id %}'" class="waves-effect waves-light btn setbtn font btncan" type="button" name="button">ویرایش سوالات</button>
                        </div>


                    </form>
                </div>
            </div>
        </div>

    </main>


{% endblock %}