{% extends 'authenticated.html' %}
{% load static %}
{% load jformat %}

{% block content %}



    <main>


        <div class="row update rtla" id="withdrawal">
            <div class="card updatecard">
                <table>
                    <thead>
                    <tr>
                        <th> کاربر</th>
                        <th> نوع</th>
                        <th> تاریخ</th>
                        <th> مبلغ</th>
                        <th> وضعیت</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for wt in object_list %}


                        <tr>
                            <td>{{ wt.user.email }}</td>
                            <td> برداشت از کیف پول</td>
                            <td> {{ wt.date|jformat:'%H:%M:%S|%y/%m/%d' }}</td>
                            <td> {{ wt.amount }} تومان</td>
                            {% if wt.status == 'requested' %}
                                <td> منتظر تایید</td>
                            {% elif wt.status == 'deposited_to_user' %}
                                <td style="color: #0f9d58">واریز شده</td>
                            {% elif wt.status == 'problem' %}
                                <td style="color: #8b1014">مشکلی پیش آمده</td>
                            {% endif %}
                            <td>
                                <form action="{% url 'admin:confirm_withdrawal' %}{{ wt.id }}/"></form>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>


        </div>


    </main>


{% endblock %}

