{% extends 'authenticated.html' %}
{% load static %}
{% load jformat %}

{% block content %}


<div class="row update rtla">
  <div class="card updatecard2">
        <ul class="tab">
          <li class="tab col s6 center"><a class="lista" href="{% url 'invoice:history' %}">  پرداخت  </a></li>
          <li class="tab col s6 center"><a class="lista active" href="{% url 'withdrawal:list' %}">  دریافت  </a></li>  
        </ul>
      </div>
</div>



    <main>


        <div class="row update2 rtla" id="withdrawal">
            <div class="card updatecard">
                <table>
                    <thead>
                    <tr>
                        <th> نوع</th>
                        <th> تاریخ</th>
                        <th> مبلغ</th>
                        <th> وضعیت</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for wt in object_list %}


                        <tr>
                            <td> برداشت از کیف پول</td>
                            <td> {{ wt.date|jformat:'%H:%M:%S - %y/%m/%d' }}</td>
                            <td> {{ wt.amount }} تومان</td>
                            {% if wt.status == 'requested' %}
                                <td> منتظر تایید</td>
                            {% elif wt.status == 'deposited_to_user' %}
                                <td style="color: #0f9d58">واریز شده</td>
                            {% elif wt.status == 'problem' %}
                                <td style="color: #8b1014">مشکلی پیش آمده</td>
                            {% endif %}
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>


        </div>


    </main>


{% endblock %}
